﻿@model ExamVision___Form.Models.FormModel

<script language="javascript" type="text/javascript">
    function printDiv(divID) {
        //Get the HTML of div
        var divElements = document.getElementById(divID).innerHTML;
        //Get the HTML of whole page
        var oldPage = document.body.innerHTML;

        //Reset the page's HTML with div's HTML only
        document.body.innerHTML =
            "<html><head><title></title></head><body>" +
            divElements + "</body>";


        //Print Page
        window.print();

        //Restore orignal HTML
        document.body.innerHTML = oldPage;


    }
</script>

<div class="pull-right" id="printButton">
    <input type="button" value="Print the order" class=" btn btn-info" onclick="window.print();" />
    @*<input type="button" value="Print the order" class=" btn btn-info" onclick="printDiv('orderDetails');" />*@
</div>

<div class="container-fluid" id="orderDetailPage">
    <div class="spacerBot spacerTop">
        <h1>Order details</h1>
    </div>
    <div class="row spacerTop spacerBot formBlock" id="dealerInfoField">
        <h2>Dealer information</h2>
        <div class="col-sm-3">
            <b>Dealer name</b> <br />
            @Html.DisplayFor(model => model.dealer_name)
            <br />
            <b>Email</b> <br />
            @Html.DisplayFor(model => model.dealer_mail)
        </div>
        <div class="col-sm-3">
            <b>Salespersons name</b> <br />
            @Html.DisplayFor(model => model.salespersons_name)
            <br />
            <b>Reference number</b> <br />
            @Html.DisplayFor(model => model.dealer_reference_number)
        </div>
        <div class="col-sm-2">
            <b>Rebuild</b> <br />
            <div class="hidden" id="rebuildDetails">
                @Html.DisplayFor(model => model.rebuild)
            </div>
            <div id="rebuildDetailsResults"></div>
        </div>
        <div class="col-sm-2">
            <b>Reuse Frame</b><br />
            <div class="hidden" id="reuseFrameDetails">
                @Html.DisplayFor(model => model.reuse_frame)
            </div>
            <div id="reuseFrameDetailsResult"></div>
            <b>Reuse Orcualr</b><br />
            <div class="hidden" id="reuseOrcularDetails">
                @Html.DisplayFor(model => model.reuse_orcular)
            </div>
            <div id="reuseOrcularDetailsResult"></div>
        </div>
        <div class="col-sm-2">
            <b>Light order only</b>
            <div class="hidden" id="lightOrderDetails">
                @Html.DisplayFor(model => model.light_order_only)
            </div>
            <div id="lightOrderDetailsResult"></div>
        </div>
    </div>
    <div class="row formBlock spacerBot spacerTop" id="personInfoField" style="border-bottom: 1px solid lightgrey !important;">
        <h2>Personal data</h2>
        <div class="col-sm-3">
            <b>Engraving</b><br />
            @Html.DisplayFor(model => model.frame_engraved_name)
            <br /><br />
            <b>Client name</b><br />
            @Html.DisplayFor(model => model.client_name)
        </div>
        <div class="col-sm-4">
            <b>Address</b><br />
            @Html.DisplayFor(model => model.streetname)<br />
            @Html.DisplayFor(model => model.ClientCity) - @Html.DisplayFor(model => model.ClientZip)<br />
            @Html.DisplayFor(model => model.ClientRegion) - @Html.DisplayFor(model => model.ClientCountry)

        </div>
        <div class="col-sm-2">
            <b>Birth year: </b>
            @Html.DisplayFor(model => model.client_birth)
        </div>
        <div class="col-sm-3">
            <b>Occupation</b><br />
            @Html.DisplayFor(model => model.client_occupation)
            <br />
            <b>Discount code</b><br />
            @Html.DisplayFor(model => model.discount_code)
        </div>
    </div>
    <div class="row spacerTop spacerBot formBlock" style="border-top: 0 !important" id="magnifyingDetails">
        <div class="col-sm-3">
            <b>Use magnifying optics?</b> <br />
            @Html.DisplayFor(model => model.client_use_optics)<br />
        </div>
        <div class="col-sm-3">
            <b>Notes: </b><br />
            @Html.DisplayFor(model => model.client_use_optics_kind)
        </div>
        <div class="col-sm-6">
            <b>Does the client wear glasses?</b><br />
            @Html.DisplayFor(model => model.client_wear_glasses)
        </div>
    </div>
    <div class="row formBlock spacerTop spacerBot" id="prescriptionDetailFields">
        <h2>Prescription</h2>
        <div class="row">
            <div class="col-sm-2">
                <b>Latest Eye Test</b><br />
                @Html.DisplayFor(model => model.latest_eye_test)
            </div>
            <div class="col-sm-8">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th></th>
                            <th>sph</th>
                            <th>cyl</th>
                            <th>axis</th>
                            <th>add(40cm)</th>
                            <th>prism</th>
                            <th>base</th>
                            <th>va</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">Right</th>
                            <td>
                                @Html.DisplayFor(model => model.right_sph)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.right_cyl)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.right_axis)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.right_add)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.right_prism)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.right_base)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.right_va)
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Left</th>
                            <td>
                                @Html.DisplayFor(model => model.left_sph)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.left_cyl)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.left_axis)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.left_add)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.left_prism)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.left_base)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.left_va)
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row col-sm-10 spacerBot">
            <b>Notes for prescription</b><br />
            @Html.DisplayFor(model => model.notes_for_the_presription)
        </div>
    </div>
    <div class="row formBlock spacerTop spacerBot" id="PDInfoDetails">
        <h2>PD information</h2>
        <div class="col-sm-7">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>IPD</th>
                        <th>Right</th>
                        <th>Total</th>
                        <th>Left</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">Inf</th>
                        <td>
                            @Html.DisplayFor(model => model.ipd_inf_right)
                        </td>
                        <td>
                            <div class="infT"></div>
                            @Html.DisplayFor(model => model.ipd_inf_total)
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.ipd_inf_left)
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">40 cm</th>
                        <td>
                            @Html.DisplayFor(model => model.ipd_40cm_right)
                        </td>
                        <td>
                            <div class="40cmT"></div>
                            @Html.DisplayFor(model => model.ipd_40cm_total)
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.ipd_40cm_left)
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">30 cm</th>
                        <td>
                            @Html.DisplayFor(model => model.ipd_30cm_right)
                        </td>
                        <td>
                            <div class="30cmT"></div>
                            @Html.DisplayFor(model => model.ipd_30cm_total)
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.ipd_30cm_left)
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">
                            <span id="pd_inf_other_distance" class="hidden">
                                @Html.DisplayFor(model => model.pd_inf_other_distance)
                            </span>
                            <span id="pd_inf_other_distanceResult"></span>
                        </th>
                        <td>
                            <span id="pd_inf_other_dist_right" class="hidden">
                                @Html.DisplayFor(model => model.pd_inf_other_dist_right)
                            </span>
                            <span id="pd_inf_other_dist_rightResult"></span>
                        </td>
                        <td>
                            <span id="pd_inf_other_dist_total" class="hidden">
                                @Html.DisplayFor(model => model.pd_inf_other_dist_total)
                            </span>
                            <span id="pd_inf_other_dist_totalResult"></span>
                        </td>
                        <td>
                            <span id="pd_inf_other_dist_left" class="hidden">
                                @Html.DisplayFor(model => model.pd_inf_other_dist_left)
                            </span>
                            <span id="pd_inf_other_dist_leftResult"></span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-sm-3">
            <b>Present working distance</b><br />
            <div id="presentWDDetail" class="hidden">
                @Html.DisplayFor(model => model.present_working_range)
            </div>
            <div id="presentWDDetailResult"></div>

            <br />
            <b>Preferred working distance</b><br />
            <div id="PreferredWDDetail" class="hidden">
                @Html.DisplayFor(model => model.preferred_working_range)
            </div>
            <div id="PreferredWDDetailResult"></div>
        </div>
        <div class="col-sm-2">
            <b>Loupe Angle</b><br />
            @Html.DisplayFor(model => model.loupe_angle)
        </div>
    </div>

    <div class="row spacerBot spacerTop formBlock" id="carrierLensDetails">
        <h2>Carrier Lens</h2>
        <div class="col-sm-2">
            <b>Types of Lenses</b><br />
            @Html.DisplayFor(model => model.outer_lenses_type)
            <br /><br />
            <b>Coating</b><br />
            @Html.DisplayFor(model => model.lens_option_shv)<br />
            @Html.DisplayFor(model => model.lens_option_arcoating)
        </div>

        <div class="col-sm-3" id="carrierLensCol2">
            <b>Monofocal</b><br />
            @Html.DisplayFor(model => model.monofocal_distance)<br />
            <b>Bifocal Type</b><br />
            @Html.DisplayFor(model => model.bifocal_type)<br />
            <b>Distance: </b>
            @Html.DisplayFor(model => model.bifocal_distant)<br />
            <b>Near: </b>
            @Html.DisplayFor(model => model.bifocal_near)<br />
            <b>Progressive version</b><br />
            @Html.DisplayFor(model => model.progressive_version)
        </div>

        <div class="col-sm-7" id="carrierLensCol3">
            <table class="table table-bordered ">
                <thead>
                    <tr>
                        <th></th>
                        <th>sph</th>
                        <th>cyl</th>
                        <th>axis</th>
                        <th>add(40cm)</th>
                        <th>prism</th>
                        <th>base</th>
                        <th>va</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">
                            Right
                        </th>
                        <td>
                            @Html.DisplayFor(model => model.out_lens_prescrip_right_sph)
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.out_lens_prescrip_right_cyl)
                        </td>
                        <td class="mfCylAxis">
                            @Html.DisplayFor(model => model.out_lens_prescrip_right_axis)
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.out_lens_prescrip_right_add)
                        </td>
                        <td class="mfPrismBase">
                            @Html.DisplayFor(model => model.out_lens_prescrip_right_prism)
                        </td>
                        <td class="mfPrismBase">
                            @Html.DisplayFor(model => model.out_lens_prescrip_right_base)
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.out_lens_prescrip_right_va)
                        </td>
                    </tr>
                    <tr>
                        <th scope="row"> Left </th>
                        <td>
                            @Html.DisplayFor(model => model.out_len_prescrip_left_sph)
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.out_lens_prescrip_left_cyl)
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.out_lens_prescrip_left_axis)
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.out_lens_prescrip_left_add)
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.out_lens_prescrip_left_prism)
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.out_lens_prescrip_left_base)
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.out_lens_prescrip_left_va)
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row spacerBot spacerTop formBlock" id="frameSelectionDetails">
        <h2>Frame selection</h2>
        <div class="col-sm-2">
            <b>Model</b><br />
            <div id="oDetailFrameType" class="hidden">
                @Html.DisplayFor(model => model.loupe_frame_type)
            </div>
            <div id="oDetailFrameTypeResult">

            </div>
        </div>
        <div class="col-sm-2">
            <b>Color</b><br />
            <div id="oDetailFrameColor" class="hidden">
                @Html.DisplayFor(model => model.loupe_frame_colour)
            </div>
            <div id="oDetailFrameColorResult">

            </div>
        </div>
        <div class="col-sm-2">
            <b>Size</b><br />
            <div id="oDetailFrameSize" class="hidden">
                @Html.DisplayFor(model => model.loupe_frame_size)
            </div>
            <div id="oDetailFrameSizeResult">

            </div>

        </div>
        <div class="col-sm-3">
            <b>Diamonds</b><br />
            @Html.DisplayFor(model => model.diamond_left)
            @Html.DisplayFor(model => model.diamond_right)
        </div>
    </div>

    <div class="row formBlock spacerBot spacerTop" id="frameFittingDetails">
        <h2>Frame fitting</h2>
        <div class="col-sm-2">
            <b>Temple left: </b>
            <div id="frame_temple_l" class="hidden">
                @Html.DisplayFor(model => model.frame_temple_l)
            </div>
            <div id="frame_temple_lResult"></div>
            <b>Temple right: </b>
            <div id="frame_temple_r" class="hidden">
                @Html.DisplayFor(model => model.frame_temple_r)
            </div>
            <div id="frame_temple_rResult"></div>
        </div>
        <div class="col-sm-2">
            <b>Head Width</b><br />
            @Html.DisplayFor(model => model.frame_width)
        </div>

        <div class="col-sm-2" id="nosepadColor">
            <b>Nosepad Color</b><br />
            @Html.DisplayFor(model => model.nosepad_color)
        </div>

        <div class="col-sm-2">
            <b>Nosepad Size</b><br />
            @Html.DisplayFor(model => model.nose_pads)
        </div>
    </div>

    <div class="row formBlock spacerBot spacerTop" id="MagAndSysSelectDetails">
        <h2>Magnification & System Selection</h2>
        <div class="col-sm-3">
            <b>Magnification type</b><br />
            @Html.DisplayFor(model => model.loupe_magnification_type)
        </div><div class="col-sm-3">
            <b>Magnification</b><br />
            @Html.DisplayFor(model => model.loupe_magnification)
        </div>
        <div class="col-sm-2">
            <b>Options</b><br />
            @Html.DisplayFor(model => model.lens_option_prisma)
        </div>

        <div class="col-sm-10  spacerTop spacerBot">
            <table class="table table-bordered" id="demoTableDetails">
                <thead>
                    <tr>
                        <th>Setup demo</th>
                        <th>Control distances</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">
                            <p>Right: </p> @Html.DisplayFor(model => model.setup_demo_right)
                        </th>
                        <td>
                            <p>From: </p> @Html.DisplayFor(model => model.control_distances_from_right)
                        </td>
                        <td>
                            <p>To: </p> @Html.DisplayFor(model => model.control_distances_to_left)
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">
                            <p>Left: </p> @Html.DisplayFor(model => model.setup_demo_left)
                        </th>
                        <td>
                            <p>From: </p> @Html.DisplayFor(model => model.control_distances_from_left)
                        </td>
                        <td>
                            <p>To: </p> @Html.DisplayFor(model => model.control_distances_to_left)
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>

    <div class="row formBlock spacerBot spacerTop" id="lightSelectionDetails">
        <h2>Light Selections</h2>

        <div class="col-sm-3">
            <b>Light system</b><br />
            @Html.DisplayFor(model => model.loupe_light_system)
        </div>

        <div class="col-sm-5">
            <b>Control units</b><br />
            <div id="controlUnitDetails" class="hidden">
                @Html.DisplayFor(model => model.loupe_light_control_unit)
            </div>
            <div id="controlUnitDetailsResult"></div>
        </div>

        <div class="col-sm-4">
            <b>Light Accessories</b><br />
            <div id="headbandDetails">
                @Html.DisplayFor(model => model.loupe_light_accesories_headband)
            </div>
            <div id="clipDetails">
                @Html.DisplayFor(model => model.loupe_light_accesories_clip)
            </div>
            <div id="curingDetails">
                @Html.DisplayFor(model => model.loupe_light_accesories_curing)
            </div>
            <div id="chargerDetails">
                @Html.DisplayFor(model => model.loupe_light_accessories_charger)
            </div>
        </div>
    </div>

    <div class="row formBlock spacerBot spacerTop" id="sparepartDetails">
        <h2>Spareparts/extras for loupes</h2>

        <div class="col-sm-3">
            <b>Suitcases</b><br />
            @Html.DisplayFor(model => model.suitcase)
        </div>

        <div class="col-sm-6">
            <b>Loupe Accesories</b><br />
            <div id="connectLine">
                Connect Frame Part
                <span class="hidden" id="connectDetail">@Html.DisplayFor(model => model.loupe_light_accesories_connect)</span>
            </div>
            <div id="shieldLine">
                Sideshields
                <span class="hidden" id="shieldDetail">@Html.DisplayFor(model => model.loupe_accesories_sideshield)</span>
            </div>
            <div id="visionShieldSmallLine">
                Visonshields Small
                <span class="hidden" id="visionShieldSmallDetail">@Html.DisplayFor(model => model.loupe_acce_vshield_small)</span>
            </div>
            <div id="visionShieldLargeLine">
                Visonshields Large
                <span hidden="hidden" id="visionShieldLargeDetail">@Html.DisplayFor(model => model.loupe_acce_vshield_large)</span>
            </div>
        </div>
    </div>
</div>


<link rel="stylesheet" type="text/css" href="../../Content/PrintStyle.css">
<link rel="stylesheet" type="text/css" href="../../Content/ChromePrintFix.css">
<script src="../../Scripts/OrderDetailScript.js"></script>