﻿@model ExamVision___Form.Models.FormModel

@{
    ViewBag.Title = "Delete";
}
<div class="row">
    <h1>Delete</h1>
    <div class="row">
        <div class="col-md-offset-1"></div>
        <div class="col-md-10">
            <h3>Are you sure you want to delete this?</h3>

            <div>
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-actions no-color">
                        <input type="submit" value="Delete" class="btn btn-default" /> |
                        @Html.ActionLink("Back to List", "UserPanel", "Admin")
                    </div>
                }
            </div>
        </div>
    </div>
</div>
