﻿@model ExamVision___Form.Models.FormModel


@*@{
    ViewBag.Title = "Edit Confirmation";
}*@

<style>
    #orderCompInfo {
        padding-top: 2%;
        padding-bottom: 1.5%;
    }

    .orderCompChoice {
        padding: 8% 5% 20% 5%;
        max-height: 450px;
        background-color: #eee;
        border: 1px solid white;
    }

        .orderCompChoice:hover {
            background-color: #F7F7F7;
        }

        .orderCompChoice h2 {
            padding-bottom: 2%;
        }
</style>
<div class="row">
    <div class="col-xs-12 text-sm-center" id="orderCompInfo">
        <h1 class="spacerBot spacerTop">Your order is now SAVED, but NOT COMPLETED and NOT yet sent to ExamVision</h1>
        <h6 class="spacerTop">
            <span style="font-size: 120%">You have now saved your order.  This order can be found as a SAVED order in Order view.<br />
            To CONFIRM your ORDER please click COMPLETE ORDER below.</span>
        </h6>
    </div>
</div>
<div class="row">
    <div class="col-lg-6 orderCompChoice text-sm-center">
        <h2>Go to order overview</h2>
        <p>Here you will find the Order view, where you have a total overview of all your orders: <br /> <strong>SAVED</strong> (<em>not completed</em>) orders and <strong>CONFIRMED</strong> orders.</p>
        <button type="button" class="btn btn-warning center-block spacerBot spacerTop" onclick="location.href = '@Url.Action("UserPanel", "Admin")'">Order view</button>
    </div>
    <div class="col-lg-6 orderCompChoice  text-sm-center">
        <h2>Would you like to complete the order?</h2>
        <em><strong>This will send your order to ExamVision. </strong></em>
        <p><strong>Please note: </strong>When you have confirmed your order you cannot go back to edit the information. </p>
        <p>You’ll find the <span style="text-decoration: underline;">Order Confirmation</span> at <span style="text-decoration: underline;">Order view</span> under COMPLETED ORDERS, saved by Client Name.</p>
        <button type="button" class="btn btn-success center-block spacerBot spacerTop"
                onclick="location.href = '@Url.Action("OrderCompletion", new {id = Model.ID})'">
            Complete order
        </button>
        <em class="spacerBot spacerTop">(Order confirmations will no longer be sent via email)</em>
    </div>
</div>