﻿@model ExamVision___Form.ModelsView.FormViewModel

@{
    ViewBag.Title = "ExamVision - The Form";
}

<div class="" id="formSite">
    @using (Html.BeginForm("Edit", "Form", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div>
            <div class="text-danger">@Html.ValidationSummary()</div>
        </div>
        @Html.AntiForgeryToken()
        @Html.HiddenFor(x => x.Form.ID)
        @Html.HiddenFor(x => x.Form.ImportDate)

        @Html.Partial("_FormIndex", Model)

        <div id="submitButton" class="row container-fluid formBlock">
            <div class="col-lg-2">
                <input class="btn btn-success" type="Submit" value="Save" />
            </div>
        </div>

    }
</div>

<script>
    //$("#frameSelector").click();
    //$("#frameSelector").click();
</script>