﻿@model System.Collections.Generic.IEnumerable<ExamVision___Form.Models.FormModel>

@{
    ViewBag.Title = "Database Page";
}

<link href="../../Content/fromSite.css" rel="stylesheet">

<div class="row spacerTop">
    <div class="col-lg-2">
        <h2>Index</h2>
    </div>
</div>
<div class="">
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ImportDate)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.SOCreated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SLCreated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DealerCreated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClientCreated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Transf)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SOID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WEBID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Interrupted)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.dealer_name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dealer_mail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dealer_reference_number)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.client_name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.client_address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.client_address2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.client_phonefax)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.client_birth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.client_occupation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.client_use_optics_kind)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.client_wear_glasses)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.latest_eye_test)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.right_sph)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.right_cyl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.right_axis)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.right_add)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.right_prism)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.right_base)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.right_va)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.left_sph)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.left_cyl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.left_axis)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.left_add)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.left_prism)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.left_base)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.left_va)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.present_working_range)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.preferred_working_range)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.lens_option)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.loupe_frame_type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.loupe_frame_size)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.loupe_frame_colour)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.loupe_angle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.lens_options)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.loupe_light_system)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.loupe_light_other_system)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ipd_inf_right)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ipd_inf_total)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ipd_inf_left)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ipd_40cm_right)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ipd_40cm_total)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ipd_40cm_left)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ipd_30cm_right)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ipd_30cm_total)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ipd_30cm_left)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ipd_height_right)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ipd_height_left)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ipd_vertex_right)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ipd_vertex_left)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.setup_demo_right)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.setup_demo_left)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.control_distances_from)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.control_distances_to)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.outer_lenses_type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.monofocal_distance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.bifocal_version)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.bifocal_distant)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.bifocal_near)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.bifocal_type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.out_lens_prescrip_right_sph)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.out_lens_prescrip_right_cyl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.out_lens_prescrip_right_axis)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.out_lens_prescrip_right_add)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.out_lens_prescrip_right_prism)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.out_lens_prescrip_right_base)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.out_lens_prescrip_right_va)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.out_len_prescrip_left_sph)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.out_lens_prescrip_left_cyl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.out_lens_prescrip_left_axis)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.out_lens_prescrip_left_add)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.out_lens_prescrip_left_prism)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.out_lens_prescrip_left_base)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.out_lens_prescrip_left_va)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.frame_temple_r)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.frame_temple_l)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.frame_width)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.frame_nose_ridge)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.frame_engraved_name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.client_use_optics)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.monofocal_type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nav_id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.item_no_plano)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.item_no_prescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.item_no_frame)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.item_no_light)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.flag)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.loupe_magnification)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.loupe_acce_vshield_small)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.loupe_attachment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.loupe_acce_vshield_large)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.loupe_acce_curing_filter)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.progressive_version)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dealer_alternative_email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.lens_option_prisma)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.lens_option_shv)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fake)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.order_button)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cosmo_deep_version)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.salespersons_name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.loupe_angle_other)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.sideshields)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nose_pads)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.generate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.suitcase)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.lens_option_aircoating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.light_system)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.loupe_light_control_unit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.loupe_light_accesories_curing)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.loupe_light_accesories_handsfree)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.loupe_accesories_sideshield)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.loupe_light_accesories_clip)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.control_distances_from_left)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.control_distances_to_left)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.control_distances_from_right)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.control_distances_to_right)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.loupe_light_accesories_headband)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.loupe_light_accesories_connect)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.lens_option_arcoating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.comments)
            </th>
            <th>Controller</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ImportDate)
                </td>
                @*<td>
                    @Html.DisplayFor(modelItem => item.SOCreated)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SLCreated)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DealerCreated)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ClientCreated)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Transf)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Prescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SOID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.WEBID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Interrupted)
                </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.dealer_name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.dealer_mail)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.dealer_reference_number)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.client_name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.client_address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.client_address2)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.client_phonefax)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.client_birth)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.client_occupation)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.client_use_optics_kind)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.client_wear_glasses)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.latest_eye_test)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.right_sph)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.right_cyl)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.right_axis)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.right_add)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.right_prism)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.right_base)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.right_va)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.left_sph)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.left_cyl)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.left_axis)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.left_add)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.left_prism)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.left_base)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.left_va)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.present_working_range)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.preferred_working_range)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.lens_option)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.loupe_frame_type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.loupe_frame_size)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.loupe_frame_colour)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.loupe_angle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.lens_options)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.loupe_light_system)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.loupe_light_other_system)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ipd_inf_right)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ipd_inf_total)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ipd_inf_left)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ipd_40cm_right)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ipd_40cm_total)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ipd_40cm_left)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ipd_30cm_right)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ipd_30cm_total)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ipd_30cm_left)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ipd_height_right)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ipd_height_left)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ipd_vertex_right)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ipd_vertex_left)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.setup_demo_right)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.setup_demo_left)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.control_distances_from)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.control_distances_to)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.outer_lenses_type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.monofocal_distance)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.bifocal_version)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.bifocal_distant)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.bifocal_near)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.bifocal_type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.out_lens_prescrip_right_sph)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.out_lens_prescrip_right_cyl)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.out_lens_prescrip_right_axis)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.out_lens_prescrip_right_add)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.out_lens_prescrip_right_prism)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.out_lens_prescrip_right_base)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.out_lens_prescrip_right_va)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.out_len_prescrip_left_sph)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.out_lens_prescrip_left_cyl)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.out_lens_prescrip_left_axis)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.out_lens_prescrip_left_add)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.out_lens_prescrip_left_prism)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.out_lens_prescrip_left_base)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.out_lens_prescrip_left_va)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.frame_temple_r)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.frame_temple_l)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.frame_width)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.frame_nose_ridge)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.frame_engraved_name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.client_use_optics)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.monofocal_type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.nav_id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.item_no_plano)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.item_no_prescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.item_no_frame)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.item_no_light)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.flag)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.loupe_magnification)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.loupe_acce_vshield_small)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.loupe_attachment)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.loupe_acce_vshield_large)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.loupe_acce_curing_filter)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.progressive_version)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.dealer_alternative_email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.lens_option_prisma)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.lens_option_shv)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.fake)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.order_button)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.cosmo_deep_version)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.salespersons_name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.loupe_angle_other)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.sideshields)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.nose_pads)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.generate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.suitcase)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.lens_option_aircoating)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.light_system)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.loupe_light_control_unit)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.loupe_light_accesories_curing)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.loupe_light_accesories_handsfree)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.loupe_accesories_sideshield)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.loupe_light_accesories_clip)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.control_distances_from_left)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.control_distances_to_left)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.control_distances_from_right)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.control_distances_to_right)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.loupe_light_accesories_headband)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.loupe_light_accesories_connect)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.lens_option_arcoating)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.comments)
                </td>
                <td>
                    - @Html.ActionLink("Edit", "Edit", new { id = item.ID }) <br />
                    - @Html.ActionLink("Details", "Details", new { id = item.ID }) <br />
                    - @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                </td>
            </tr>
        }
    </table>

    <script>
    $(document).ready(function () {
        $('#formDBPage').parent().addClass("active");
        $('#homePage').parent().removeClass("active");
    });
    </script>

</div>