﻿@model ExamVision___Form.ModelsView.FormViewModel
@using Microsoft.AspNet.Identity

@*@Html.HiddenFor(x => x.isOrdered)*@

<div class="row container-fluid formBlock spacerBot" id="dealerInfo">
    <h2>Dealer info</h2>

    <div class="col-lg-3">
        <h5>Your name, Dealer</h5>

        <div class="form-group">
            <label for="dealerFName" class="control-label sr-only ">
                Name
            </label>
            <div class="spacerTop" id="staticUsername">
                <span>@User.Identity.GetUserName()</span>
            </div>
            @Html.HiddenFor(model => model.Form.dealer_name, new { id = "dealerFName" })
        </div>
    </div>

    <div class="col-lg-2">
        <h5>Email</h5>

        <div class="form-group">
            <label for="email" class="control-label sr-only">Email</label>
            <div class="spacerTop" id="staticEmail">
                @ViewBag.userMail
            </div>
            @Html.HiddenFor(model => model.Form.dealer_mail, new { id = "email" })

        </div>
    </div>

    <div class="col-lg-2">
        <h5>Representative or salespersons name</h5>

        <div class="form-group">
            <label for="salesPName" class="control-label sr-only">Name</label>
            @Html.TextBoxFor(model => model.Form.salespersons_name, new { @class = "form-control", type = "text", id = "salesPName", placeholder = "Name" })
        </div>
    </div>

    <div class="col-lg-2">
        <h5>Your order reference number</h5>

        <div class="form-group">
            <label for="refNum" class="control-label sr-only">
                Reference number
            </label>
            @Html.TextBoxFor(model => model.Form.dealer_reference_number, new { @class = "form-control", type = "text", id = "refNum", placeholder = "Reference number..." })
        </div>
    </div>

    <div class="col-lg-1" id="rebuild">
        <div class="form-check">
            <h5>Rebuild</h5>
            <label class="custom-control form-check-inline custom-checkbox">
                <!--Manglede datafelt-->
                @Html.CheckBoxFor(model => model.Form.rebuildToBool, new { @class = "custom-control-input form-check-input", id = "rebuildCheck" })
                @*<input type="checkbox" class="custom-control-input form-check-input" >*@
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description">Yes</span>
            </label>
        </div>
    </div>
    <div class="col-lg-2">
        <div class="form-check" id="lightOrderOnly">
            <h5>Light order only</h5>
            <label class="custom-control form-check-inline custom-checkbox">
                <!--Manglede datafelt-->
                @Html.CheckBoxFor(model => model.Form.light_order_onlyToBool, new { @class = "custom-control-input form-check-input", id = "lightOnlyInput" })
                @*<input type="checkbox" class="custom-control-input form-check-input" id="lightOnlyInput" />*@
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description">Yes</span>
            </label>
        </div>
        <div class="hidden" id="rebuildOptions">
            <div class="form-check-inline" id="reuseFrame">
                <label class="custom-control form-check-inline custom-checkbox">
                    <!--Manglede datafelt-->
                    @Html.CheckBoxFor(model => model.Form.reuse_frameToBool, new { @class = "custom-control-input form-check-input", id = "reuseFrameInput" })
                    @*<input type="checkbox" class="custom-control-input form-check-input" id="reuseFrameInput">*@
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description">Reuse Frame</span>
                </label>
            </div>
            <div class="form-check-inline" id="reuseOcular">
                <label class="custom-control form-check-inline custom-checkbox">
                    <!--Manglede datafelt-->
                    @Html.CheckBoxFor(model => model.Form.reuse_orcularToBool, new { @class = "custom-control-input form-check-input", id = "reuseOcularInput" })
                    <input type="checkbox" class="custom-control-input form-check-input" id="reuseOcularInput">
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description">Reuse Orcular</span>
                </label>
            </div>
            <div class="form-group">
                <label class="control-label sr-only" for="rebuildText">
                    Rebuild notes
                </label>
                <!--Manglede datafelt-->
                @Html.TextAreaFor(model => model.Form.rebuild_notes, new { @class = "form-control", id = "rebuildText", placeholder = "Notes about the rebuild...", maxlength = "120" })
                @*<textarea class="form-control" id="rebuildText" name="rebuildNotes"
                    placeholder="Notes about the rebuild..."></textarea>*@
            </div>
        </div>
    </div>
</div>

<div class="row container-fluid formBlock" id="clientData">
    <h2>Client data</h2>

    <div class="row">
        <div class="col-lg-2">
            <h5>Engraving</h5>

            <div class="form-group">
                <label for="engravedName" class="control-label sr-only">
                    Name
                </label>
                @Html.TextBoxFor(model => model.Form.frame_engraved_name, new { @class = "form-control", type = "text", id = "engravedName", placeholder = "Name to be engraved", maxlength = "20" })
                <label class="custom-control custom-checkbox" style="margin-bottom: 0; margin-top: 5px">
                    <input type="checkbox" class="custom-control-input">
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description">No engraving</span>
                </label>
                <small id="engraveHelp" class="form-text text-muted">
                    Max. 20 characters <br />(Extra cost for Essential.
                    See below "Loupe information")
                </small>
            </div>
        </div>

        <div class="col-lg-2">
            <h5>Name (<span style="color:red;">Required</span>)</h5>

            <div class="form-group">
                <label for="clientName" class="control-label sr-only">
                    Full name
                </label>
                @Html.TextBoxFor(model => model.Form.client_name, new { @class = "form-control", type = "text", id = "clientName", placeholder = "Client name" })
            </div>

        </div>

        <div class="col-lg-3" id="address">
            @Html.HiddenFor(model => model.Form.client_address, new { @class = "", id = "clientAddress" })
            @Html.HiddenFor(model => model.Form.client_address2, new { @class = "", id = "clientAddress2" })
            <h5>Address</h5>

            <div class="form-group">
                <label for="streetAddress" class="control-label sr-only">
                    Street address
                </label>
                @Html.TextBoxFor(model => model.Form.streetname, new { @class = "form-control", type = "text", id = "streetAddress", placeholder = "Street name, no., floor... " })
            </div>

            @Html.HiddenFor(model => model.Form.city_zip, new { @class = "form-control", id = "cityZip" })
            <div class="form-group col-md-6 inlineFix">
                <label for="city" class="control-label sr-only">
                    City
                </label>
                @Html.TextBoxFor(model => model.Form.ClientCity, new { @class = "form-control", type = "text", id = "city", placeholder = "City" })
                @*<input class="form-control" type="text" id="city" placeholder="City">*@
            </div>
            <div class="form-group col-md-6 inlineFix">
                <label for="zip" class="control-label sr-only">
                    ZIP / Postal Code
                </label>
                @Html.TextBoxFor(model => model.Form.ClientZip, new { @class = "form-control", type = "text", id = "zip", placeholder = "ZIP / Postal Code" })
                @*<input class="form-control" type="text" id="zip" placeholder="ZIP / Postal Code">*@
            </div>

            @Html.HiddenFor(model => model.Form.country_State_Region, new { @class = "form-control", id = "regionCountry" })
            <div class="form-group col-md-6 inlineFix">
                <label for="region" class="control-label sr-only">
                    State / Region / County
                </label>
                @Html.TextBoxFor(model => model.Form.ClientRegion, new { @class = "form-control", type = "text", id = "region", placeholder = "County / State / Region" })
                @*<input class="form-control" type="text" id="region"
                    placeholder="County / State / Region">*@
            </div>
            <div class="form-group col-md-6 inlineFix">
                <label for="country" class="control-label sr-only">
                    Country
                </label>

                @Html.HiddenFor(model => model.Form.ClientCountry, new { @class = "", id = "clientCountry" })

                <select class="form-control" id="country" name="country"></select>
            </div>
        </div>

        <div class="col-lg-2">
            <div class="form-group">
                <h5>Year of Birth</h5>
                <label for="yob" class="control-label sr-only">
                    Year of Birth
                </label>
                @Html.TextBoxFor(model => model.Form.client_birth, new
           {
               @class = "form-control",
               id = "yob",
               placeholder = "ex.: 1956...",
               onkeypress = "return isNumeric(event)",
               oninput = "maxLengthCheck(this)",
               type = "number",
               min = "1930",
               max = "2010",
               value = "1960"
           })
            </div>
            <div class="hidden" id="shortAge">
                <em style="color: red; font-size: 100%;">
                    Must be 4 digits
                </em>
            </div>
            <div class="hidden" id="wrongAge">
                <em style="color: red; font-size: 100%;">
                    Must be between: <br />
                    1930 - 2010
                </em>
            </div>
        </div>

        <div class="col-lg-2">
            <h5>Occupation</h5>

            <div class="form-group">
                <label for="occupation" class="control-label sr-only">
                    Occupation
                </label>
                @Html.TextBoxFor(model => model.Form.client_occupation, new { @class = "form-control", id = "occupation", placeholder = "ex.: Dentist" })
            </div>


            <h5>Discount code</h5>

            <div class="form-group">
                <label for="discCode" class="control-label sr-only">
                    Discount code
                </label>
                @*<input class="form-control" type="text" id="discCode" placeholder="">*@
                @*Manglede datafelt*@
                @Html.TextBoxFor(model => model.Form.discount_code, new { @class = "form-control", id = "discCode", placeholder = "" })
            </div>
        </div>

    </div>

    <div class="row" id="furtherClientInfoRow">
        <div class="" id="personalRadioB">
            <div class="form-check col-lg-2">
                <h5>Does the client use magnification optics?</h5>

                <div id="clientMagChoice">
                    <label class="form-check-inline custom-control custom-radio">
                        @Html.RadioButtonFor(model => model.Form.client_use_optics, "No", new { @class = "form-check-input custom-control-input", id = "magOptNo" })
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">No</span>
                    </label>
                    <label class="form-check-inline custom-control custom-radio">
                        @Html.RadioButtonFor(model => model.Form.client_use_optics, "Yes", new { @class = "form-check-input custom-control-input", id = "magOptYes" })
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">Yes</span>
                    </label>
                </div>
            </div>
            <div class="form-group col-lg-2 hidden" id="magnDesc">
                <h5>Describe brand and magnification:</h5>
                <label class="control-label sr-only" for="cmagdesc">
                    Describe brand and magnification:
                </label>
                @Html.TextAreaFor(model => model.Form.client_use_optics_kind,
                       new { @class = "form-control", id = "cMagDesc", rows = "2", placeholder = "Describe what brand and magnification..." })
            </div>
            <div class="form-check col-lg-2">
                <h5>Does the client wear glasses?</h5>

                @Html.HiddenFor(model => model.Form.client_wear_glasses, new { id = "clientWearsGlasses" })

                <div id="clientWearsGlass">
                    <label class="form-check-inline custom-control custom-radio">
                        @Html.RadioButtonFor(model => model.Form.ClientDoWearGlasses, "No", new { @class = "form-check-input custom-control-input", id = "cGlassNo" })
                        @*<input id="cGlassNo" value="No" name="Wears glasses" type="radio"
                            class="form-check-input custom-control-input"/>*@
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">No</span>
                    </label>
                    <label class="form-check-inline custom-control custom-radio">
                        @Html.RadioButtonFor(model => model.Form.ClientDoWearGlasses, "Yes", new { @class = "form-check-input custom-control-input", id = "cGlassYes" })
                        @*<input id="cGlassYes" value="Yes" name="Wears glasses" type="radio"
                            class="form-check-input custom-control-input"/>*@
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">Yes</span>
                    </label>
                </div>
                <div class="over40Filter hidden">
                    <div class="over40Warning hidden">
                        <em style="color: red;">
                            Your client is over 40. Are you sure he/she does not need glasses for reading?
                        </em>
                    </div>
                </div>
            </div>
        </div>



        <div class="form-check  hidden" id="glassForm">
            <div class="col-lg-2">
                <h5>Which form?</h5>
                <label class="form-check-label custom-control custom-radio">
                    <!--Mangler datafelt-->
                    @Html.RadioButtonFor(model => model.Form.ClientOpticForm, "Glasses", new { @class = "form-check-input custom-control-input", id = "wearsGlasses" })
                    @*<input id="wearsGlasses" value="Glasses" name="glassForm" type="radio"
                        class="form-check-input custom-control-input" />*@
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description">Glasses</span>
                </label>
                <label class="form-check-label custom-control custom-radio">
                    <!--Mangler datafelt-->
                    @Html.RadioButtonFor(model => model.Form.ClientOpticForm, "Contacts", new { @class = "form-check-input custom-control-input", id = "wearsContacts" })
                    @*<input id="wearsContacts" value="Contacts" name="glassForm" type="radio"
                        class="form-check-input custom-control-input" />*@
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description">Contact Lenses</span>
                </label>
            </div>

            <div class="form-group hidden col-lg-4" id="glassTypes">
                <div class="col-lg-5">
                    <h5>Types of glasses</h5>
                    <label for="glassType" class="control-label sr-only">
                        Types of glasses
                    </label>
                    @Html.DropDownListFor(model => model.Form.ClientGlassType, new List<SelectListItem>{
                                    new SelectListItem { Value="Glasses distance, near-monofocal", Text="Glasses for distance and near-monofocal"  },
                                    new SelectListItem { Value="Near Only", Text="Glasses for near only" },
                                    new SelectListItem { Value="Bifocal", Text="Bifocal"},
                                   new SelectListItem {Value = "Multifocal", Text = "Progressive/Multifocal"}
                                }, "---> Select an option <---",
                                    new { @class = "custom-select", id = "glassType" })
                    <div class="row hidden over40Filter">
                        <div class="col-lg-12">
                            <em style="color: red; font-size: 95%;">
                                The client is over 40 years, which
                                solution do they use for reading?
                            </em>
                        </div>
                    </div>
                </div>

                <div class="form-group hidden col-lg-7" id="otherGlass">
                    <h5>Other glasses description</h5>
                    <label class="control-label sr-only" for="otherGlassDesc">
                        Other glasses description:
                    </label>
                    <!--Manglede datafelt-->
                    @Html.TextAreaFor(model => model.Form.other_glasses_description, new
               {
                   @class = "form-control",
                   id = "otherGlassDesc",
                   placeholder = "Describe what type of glasses..."
               })
                    @*<textarea class="form-control" id="otherGlassDesc"
                        placeholder="Describe what type of glasses..."></textarea>*@
                </div>
            </div>



            <div class="form-group hidden col-lg-4" id="contactTypes">
                <div class="col-lg-5">
                    <h5>Types of contact lenses</h5>
                    <label for="contactType" class="control-label sr-only">
                        Types of glasses
                    </label>
                    @Html.DropDownListFor(model => model.Form.ClientContactType, new List<SelectListItem>
                                {
                                    new SelectListItem {Value = "Monofocal+Reading", Text = "Monofocal + Reading"},
                                    new SelectListItem {Value = "Monofocal-Reading", Text = "Monofocal - Reading"},
                                    new SelectListItem {Value = "Multifocal", Text = "Progressive/Multifocal"},
                                    new SelectListItem {Value = "Monovision", Text = "Monovision"}
                                }, "---> Select an option <---",
                                    new { @class = "custom-select", id = "contactType" })

                    <div class="row hidden over40Filter">
                        <div class="col-lg-12">
                            <em style="color: red; font-size: 95%;">
                                The client is over 40 years, which
                                solution do they use for reading?
                            </em>
                        </div>
                    </div>
                </div>

                <div class="form-group col-lg-7 hidden" id="monovisionDescField">
                    <h5>If the client uses monovision contact lenses, we need more information</h5>
                    <label class="control-label sr-only" for="monovisionDesc">
                        If the client uses monovision contact lenses, we need more information:
                    </label>
                    <!--Manglede datafelt-->
                    @Html.TextAreaFor(model => model.Form.monovision_description, new
               {
                   @class = "form-control",
                   id = "monovisionDesc",
                   placeholder = "Ex.: reading with right, far distance with left..."
               })
                    @*<textarea class="form-control" id="monovisionDesc"
                        placeholder="Ex.: reading with right, far distance with left..."></textarea>*@
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row container-fluid formBlock" id="prescriptionTable">
    <h2>Prescription</h2>

    <div class="text-lg-center hidden" id="noPrescriptionInfo">
        <strong>No prescription information needed.</strong>
    </div>

    <div id="prescriptionInfo">
        <div class="col-lg-2">
            <h5>Date of latest Eye Test</h5>

            <div class="form-group" id="eyeTestContainer">
                <label class="control-label sr-only" for="dateEyeTest">
                    Month and Year of latest Eye Test
                </label>
                @Html.TextBoxFor(model => model.Form.latest_eye_test, new { @class = "form-control", id = "dateEyeTest", placeholder = "mm/yyyy" })
            </div>
        </div>

        <div class="col-lg-8" id="prescriptionTableSession">
            <table class="table table-bordered" id="prescriptionTable">
                <thead>
                    <tr>
                        <th></th>
                        <th>sph <span class="hidden" id="sphLimitWarning" style="float: right; color: red;">Only +/-10</span></th>
                        <th>cyl</th>
                        <th>axis</th>
                        <th>add(40cm)<span class="hidden" id="addLimitWarning" style="float: right; color: red;">Only +/-10</span></th>
                        <th>prism</th>
                        <th>base</th>
                        <th>va</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">Right</th>
                        <td class="shp">
                            @Html.TextBoxFor(model => model.Form.right_sph, new
                       {
                           @class = "form-control",
                           onchange = "roundToQuarter(this)",
                           onkeyup = "shpLimit(this)",
                           id = "sphR",
                           type = "number",
                           min = "-10",
                           max = "+10",
                           step = "0.25"
                       })
                        </td>
                        <td class="cylAxis">
                            @Html.TextBoxFor(model => model.Form.right_cyl, new
                       {
                           @class = "form-control",
                           onchange = "roundToQuarter(this)",
                           id = "cylR",
                           type = "number",
                           step = "0.25"
                       })
                        </td>
                        <td class="cylAxis">
                            @Html.TextBoxFor(model => model.Form.right_axis, new
                       {
                           @class = "form-control",
                           onchange = "roundToQuarter(this)",
                           id = "axisR",
                           type = "number",
                           step = "0.25"
                       })
                        </td>
                        <td class="add40cm">
                            @Html.TextBoxFor(model => model.Form.right_add, new
                       {
                           @class = "form-control",
                           onchange = "roundToQuarter(this)",
                           onkeyup = "addLimit(this)",
                           id = "addR",
                           type = "number",
                           min = "-4",
                           max = "+4",
                           step = "0.25"
                       })
                        </td>
                        <td class="prismBase">
                            @Html.TextBoxFor(model => model.Form.right_prism, new
                       {
                           @class = "form-control",
                           onchange = "roundToQuarter(this)",
                           id = "prismR",
                           type = "number",
                           step = "0.25"
                       })
                        </td>
                        <td class="prismBase">
                            @Html.TextBoxFor(model => model.Form.right_base, new
                       {
                           @class = "form-control",
                           onchange = "roundToQuarter(this)",
                           id = "baseR",
                           type = "number",
                           step = "0.25"
                       })
                        </td>
                        <td>
                            @Html.TextBoxFor(model => model.Form.right_va, new
                       {
                           @class = "form-control",
                           onchange = "roundToQuarter(this)",
                           id = "vaR",
                           type = "number",
                           step = "0.25"
                       })
                        </td>
                    </tr>
                    <tr class="hidden presCtrlText" id="shpController">
                        <td colspan="2" class="hidden shpWarrning">Type of glasses needs shp</td>
                        <td colspan="4" class="shp40cmWarrning hidden"></td>
                        <td colspan="1" class="add40cmWarrning hidden"></td>
                        <td colspan="3" class="add40cmWarrning hidden">Type of glasses needs add(40cm)</td>
                        <td colspan="2"></td>
                    </tr>
                    <tr class="hidden presCtrlText" id="cylAxisController">
                        <td colspan="2"></td>
                        <td colspan="2" class="hidden" id="onlyCyl">No cyl without axis</td>
                        <td colspan="2" class="hidden" id="onlyAxis">No axis without cyl</td>
                        <td colspan="4"></td>
                    </tr>
                    <tr class="hidden presCtrlText" id="prismBaseController">
                        <td colspan="5"></td>
                        <td colspan="2" class="hidden" id="onlyPrism">No prism without base</td>
                        <td colspan="2" class="hidden" id="onlyBase">No base without prism</td>
                        <td colspan="1"></td>
                    </tr>
                    <tr>
                        <th scope="row">Left</th>
                        <td class="shp">
                            @Html.TextBoxFor(model => model.Form.left_sph, new
                       {
                           @class = "form-control",
                           onchange = "roundToQuarter(this)",
                           onkeyup = "shpLimit(this)",
                           id = "sphL",
                           type = "number",
                           min = "-10",
                           max = "+10",
                           step = "0.25"
                       })
                        </td>
                        <td class="cylAxis">
                            @Html.TextBoxFor(model => model.Form.left_cyl, new
                       {
                           @class = "form-control",
                           onchange = "roundToQuarter(this)",
                           id = "cylL",
                           type = "number",
                           step = "0.25"
                       })
                        </td>
                        <td class="cylAxis">
                            @Html.TextBoxFor(model => model.Form.left_axis, new
                       {
                           @class = "form-control",
                           onchange = "roundToQuarter(this)",
                           id = "axisL",
                           type = "number",
                           step = "0.25"
                       })
                        </td>
                        <td class="add40cm">
                            @Html.TextBoxFor(model => model.Form.left_add, new
                       {
                           @class = "form-control",
                           onchange = "roundToQuarter(this)",
                           onkeyup = "addLimit(this)",
                           id = "addL",
                           type = "number",
                           min = "-4",
                           max = "4",
                           step = "0.25"
                       })
                        </td>
                        <td class="prismBase">
                            @Html.TextBoxFor(model => model.Form.left_prism, new
                       {
                           @class = "form-control",
                           onchange = "roundToQuarter(this)",
                           id = "prismL",
                           type = "number",
                           step = "0.25"
                       })
                        </td>
                        <td class="prismBase">
                            @Html.TextBoxFor(model => model.Form.left_base, new
                       {
                           @class = "form-control",
                           onchange = "roundToQuarter(this)",
                           id = "baseL",
                           type = "number",
                           step = "0.25"
                       })
                        </td>
                        <td>
                            @Html.TextBoxFor(model => model.Form.left_va, new
                       {
                           @class = "form-control",
                           onchange = "roundToQuarter(this)",
                           id = "vaL",
                           type = "number",
                           step = "0.25"
                       })
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-lg-2">
            <h5>Notes for prescription</h5>

            <div class="form-group">
                <label class="control-label sr-only" for="prescriptionNotes">
                    Notes for the prescription
                </label>
                @*Manglede datafelt*@
                @Html.TextAreaFor(model => model.Form.notes_for_the_presription, new
           {
               @class = "form-control",
               id = "prescriptionNotes",
               placeholder = "Notes for the prescription...",
               rows = "4",
               maxlength = "120"
           })
                @*<textarea class="form-control" rows="4" id="prescriptionNotes"
                    placeholder="Notes for the prescription..."></textarea>*@
            </div>
        </div>
    </div>
</div>

<div class="row container-fluid formBlock" id="PDInformationSession">
    <h2>PD information</h2>

    <div class="col-lg-4" id="pdTable">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th id="ipdTH">IPD</th>
                    <th>Right</th>
                    <th>Total</th>
                    <th>Left</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">Inf</th>
                    <td>
                        @Html.TextBoxFor(model => model.Form.ipd_inf_right, new {
                       @class = "form-control inf",
                       id = "infR",
                       type ="number"
                   })
                    </td>
                    <td class="ipdTotal">
                        <div class="infT"></div>
                        @Html.HiddenFor(model => model.Form.ipd_inf_total, new {
                       @class = "form-control infT",
                       id = "infT"
                   })
                    </td>
                    <td>
                        @Html.TextBoxFor(model => model.Form.ipd_inf_left, new {
                       @class = "form-control inf",
                       id = "infL",
                       type = "number"
                   })
                    </td>
                </tr>
                <tr>
                    <th scope="row">40 cm</th>
                    <td>
                        @Html.TextBoxFor(model => model.Form.ipd_40cm_right, new {
                       @class = "form-control 40cm",
                       id = "40cmR",
                       type = "number"
                   })
                    </td>
                    <td class="ipdTotal">
                        <div class="40cmT"></div>
                        @Html.HiddenFor(model => model.Form.ipd_40cm_total, new {
                       @class = "form-control 40cmT",
                       id = "40cmT"
                   })
                    </td>
                    <td>
                        @Html.TextBoxFor(model => model.Form.ipd_40cm_left, new {
                       @class = "form-control 40cm",
                       id = "40cmL",
                       type = "number"
                   })
                    </td>
                </tr>
                <tr>
                    <th scope="row">30 cm</th>
                    <td>
                        @Html.TextBoxFor(model => model.Form.ipd_30cm_right, new {
                       @class = "form-control 30cm",
                       id = "30cmR",
                       type = "number"
                   })
                    </td>
                    <td class="ipdTotal">
                        <div class="30cmT"></div>
                        @Html.HiddenFor(model => model.Form.ipd_30cm_total, new {
                       @class = "form-control 30cmT",
                       id = "30cmT"
                   })
                    </td>
                    <td>
                        @Html.TextBoxFor(model => model.Form.ipd_30cm_left, new {
                       @class = "form-control 30cm",
                       id = "30cmR",
                       type = "number"
                   })
                    </td>
                </tr>
                <tr>
                    <th scope="row" id="thOtherPD">
                        @Html.TextBoxFor(model => model.Form.pd_inf_other_distance, new {
                       @class = "form-control",
                       id = "otherPD",
                       placeholder = "Other distance",
                       @name = "Other Distance",
                       type = "number"
                   })
                    </th>
                    <td>
                        @Html.TextBoxFor(model => model.Form.pd_inf_other_dist_right, new {
                       @class = "form-control pref",
                       id = "prefR",
                       @name = "prefR",
                       type = "number"
                   })
                    </td>
                    <td class="ipdTotal">
                        <div class="prefT"></div>
                        @Html.HiddenFor(model => model.Form.pd_inf_other_dist_total, new {
                       @class = "form-control prefT",
                       id = "prefT",
                       @name = "prefT"
                   })
                    </td>
                    <td>
                        @Html.TextBoxFor(model => model.Form.pd_inf_other_dist_left, new {
                       @class = "form-control pref",
                       id = "prefL",
                       @name = "prefL",
                       type = "number"
                   })
                    </td>
                </tr>
            </tbody>
        </table>
        <small class="form-text text-muted">
            <span style="color:red;" id="IPDWarn" class="hidden"></span>
        </small>
    </div>

    <div class="col-lg-3">
        <h5>Present working distance</h5> 
        <small class="form-text text-muted">
            <span style="color:red;" id="PresentWDWarn" class="hidden"></span>
        </small>

        <div class="input-group form-group spacerBot spacerTop">
            <label class="control-label sr-only" for="presentWD">
                Present working distance
            </label>
            @Html.TextBoxFor(model => model.Form.present_working_range, new
       {
           @class = "form-control",
           id = "presentWD",
           type = "number"
       })
            <div class="input-group-addon">cm</div>
        </div>

        <h5>Preferred working distance</h5>
        <small class="form-text text-muted">
            <span style="color:red;" id="PreferredWDWarn" class="hidden"></span>
        </small>
        <div class="input-group form-group">
            <label class="control-label sr-only" for="desiredWD">
                Preferred working distance
            </label>
            @Html.TextBoxFor(model => model.Form.preferred_working_range, new
       {
           @class = "form-control",
           id = "desiredWD",
           type = "number"
       })
            <div class="input-group-addon">cm</div>
        </div>
        <small id="infoTextWD" class="form-text text-muted">
            <span style="color:red; ">This field is required</span><br />
            In general, it is not possible to have a working distance of less than 30cm.
        </small>

    </div>

    <div class="col-lg-2">
        <h5>Loupe Angle</h5>
        <small class="form-text text-muted">
            <span style="color:red;" id="LoupeAngleWarn" class="hidden"></span>
        </small>
        <label for="loupeAngle" class="control-label sr-only">
            Loupe Angle
        </label>
        @Html.TextBoxFor(model => model.Form.loupe_angle, new {
       @class = "form-control",
       id = "loupeAngle",
       type = "number"
   })
        <small style="color: red;">Max. 40° loupe angle</small>


    </div>

    <div class="col-lg-3 spacerBot">
        <h5>PD, frame & angle - Informations</h5>
        <!-- Button HTML (to Trigger Modal) -->
        <a href="#limitationModal" id="limitationModalBtn" class="btn btn-lg btn-primary" data-toggle="modal">Check table here</a>
        <br />
        <br />
        <div class="form-check custom-controls-stacked" id="PdNoteBlock">
            <h6>PD Notes</h6>
            @Html.TextAreaFor(model => model.Form.pd_notes, new
       {
           @class = "form-control",
           id = "pdNotes",
           placeholder = "Write here...",
           maxlength = "120"
       })
        </div>
    </div>

</div>

<div class="row container-fluid formBlock spacerTop spacerBot" id="carrierLens">
    <div class="row container-fluid" id="carrierLensTitle">
        <div class="col-lg-1">
            <h2>Carrier Lens</h2>
        </div>
        <div class="col-lg-2" id="carrierLensSelectorRow">
            <label for="carrierLensSelector" class="control-label sr-only">
                Types of Lenses
            </label>
            @Html.DropDownListFor(model => model.Form.ClientCarrierLensVersion, new List<SelectListItem>
                    {
                        new SelectListItem {Value = "Plano", Text = "Plano"},
                        new SelectListItem {Value = "Prescription", Text = "Prescription"},
                        new SelectListItem {Value = "PlanoRX", Text = "Plano with RX in loupe only"},
                    }, "--> Select Lens type <--",
                        new { @class = "custom-select", id = "carrierLensSelector" })
        </div>
        <div class="col-lg-2 hidden" id="carrierLensVersionPart">

            <label for="carrierLensSelector" class="control-label sr-only">
                Types of Lenses
            </label>
            @Html.DropDownListFor(model => model.Form.outer_lenses_type, new List<SelectListItem>
                    {
                        new SelectListItem {Value = "Monofocal", Text = "Monofocal"},
                        new SelectListItem {Value = "Bifocal", Text = "Bifocal"},
                        new SelectListItem {Value = "Progressive Version", Text = "Progressive Version"},
                    }, "Select a version",
                        new { @class = "custom-select", id = "carrierLensVersion" })

            @*<select class="custom-select" id="carrierLensVersion">
                    <option value="">Select a version</option>
                    <option value="Monofocal">Monofocal</option>
                    <option value="Bifocal">Bifocal</option>
                    <option value="Progressive Version">Progressive Version</option>
                </select>*@
        </div>
        <div class="col-lg-3">
            @Html.TextAreaFor(model => model.Form.carrierLens_notes, new
       {
           @class = "form-control spacerTop spacerBot",
           id = "carrierNotes",
           placeholder = "Carrier Lens Notes....",
           rows = "1",
           maxlength = "120"
       })
            @*<textarea class="form-control spacerTop spacerBot" rows="1" id="carrierNotes"
                placeholder="Carrier Lens Notes...."></textarea>*@
        </div>
    </div>
    <div class="form-check col-md-2 hidden" id="focusDistance">
        <h5>Monofocal</h5>

        <div class="row col-md-12" id="monofocalFDSession">
            <label for="monofocalFDSession" class="control-label sr-only " data-toggle="tooltip" title="<img src='/Content/Img/carrierLens/monofocal2.jpg'>">
                Monofocal - Focus Distance
            </label>
            <div class="input-group" id="monofocalFDField">
                @Html.TextBoxFor(model => model.Form.monofocal_distance, new
           {
               @class = "form-control",
               id = "monofocalFD",
               type = "number",
               placeholder = "Focus Distance"
           })
                <div class="input-group-addon">cm</div>
            </div>
        </div>
    </div>

    <div class="form-check col-md-2 hidden" id="bifocalType">
        <h5>Bifocal Type</h5>

        <div class="custom-controls-stacked">
            <label class="form-check-inline custom-control custom-radio" data-toggle="tooltip" title="<img src='/Content/Img/carrierLens/bifocal2.jpg'>">
                @Html.RadioButtonFor(model => model.Form.bifocal_type, "DuoLine", new { @class = "form-check-input custom-control-input", id = "bfType1" })
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description" id="biT1Txt">Bifocal Type 1 DuoLine</span>
            </label>
            <label class="form-check-inline custom-control custom-radio spacerBot" data-toggle="tooltip" title="<img src='/Content/Img/carrierLens/Straight2.jpg'>">
                @Html.RadioButtonFor(model => model.Form.bifocal_type, "Straightline", new { @class = "form-check-input custom-control-input", id = "bfType2" })
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description">Bifocal Type 2 Straightline</span>
            </label>
            <div class="row col-lg-12 spacerTop" id="bfTypeDesc">
                <div class="form-group lineFix">
                    <label for="bfTypeDistance" class="control-label sr-only ">
                        Bifocal Type  - Distance
                    </label>
                    <div class="input-group">
                        @Html.TextBoxFor(model => model.Form.bifocal_distant, new { @class = "form-control", id = "bfTypeDistance", placeholder = "Distance" })
                        <div class="input-group-addon">cm</div>
                    </div>
                </div>
                <div class="form-group lineFix">
                    <label for="bfTypeNear" class="control-label sr-only ">
                        Bifocal Type - Near
                    </label>
                    <div class="input-group">
                        @Html.TextBoxFor(model => model.Form.bifocal_near, new { @class = "form-control", id = "bfTypeNear", placeholder = "Near" })
                        <div class="input-group-addon">cm</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="form-check col-sm-2 hidden" id="progressiveVersion">
        <h5>Progressive version</h5>

        <div class="custom-controls-stacked">
            <label class="form-check-inline custom-control custom-radio" data-toggle="tooltip" title="<img src='/Content/Img/carrierLens/ID.jpg'>">
                @Html.RadioButtonFor(model => model.Form.progressive_version, "Tact", new { @class = "form-check-input custom-control-input", id = "tact" })
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description">Tact</span>
            </label>
            <label class="form-check-inline custom-control custom-radio" data-toggle="tooltip" title="<img src='/Content/Img/carrierLens/tact.jpg'>">
                @Html.RadioButtonFor(model => model.Form.progressive_version, "WorkSyle", new { @class = "form-check-input custom-control-input", id = "idWorkSyle" })
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description">ID WorkStyle</span>
            </label>

        </div>
    </div>

    <div class="col-md-2 form-check custom-controls-stacked hidden" id="coatingOpt">
        <h5>Coating</h5>
        <label class="form-check-inline custom-control custom-radio">
            @Html.RadioButtonFor(model => model.Form.lens_option_shv, "Yes", new
       {
           @class = "form-check-input custom-control-input coatingOption",
           id = "shvCoating"
       })
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">SHV, Hardcoat</span>
        </label>
        <label class="form-check-inline custom-control custom-radio">
            @Html.RadioButtonFor(model => model.Form.lens_option_arcoating, "Yes", new
       {
           @class = "form-check-input custom-control-input coatingOption",
           id = "arCoating"
       })
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">AR coating</span>
        </label>
        <div class="col-lg-12 hidden" id="arCoatNote">
            <small>AR Coating is only for Essential Frame. <br /> Essential Frame has been selected</small>
        </div>
    </div>

    <div class="col-lg-8 hidden row container-fluid" id="shvTable">

        <label class="custom-control form-check-inline custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="ownLenses">
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">I want to create my own carrier lenses</span>
        </label>
        <div class="hidden" id="ownLensesTable">
            <table class="table table-bordered " id="shvTable">
                <thead>
                    <tr>
                        <th></th>
                        <th>sph</th>
                        <th>cyl</th>
                        <th>axis</th>
                        <th>add(40cm)</th>
                        <th>prism</th>
                        <th>base</th>
                        <th>va</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">Right</th>
                        <td>
                            @Html.TextBoxFor(model => model.Form.out_lens_prescrip_right_sph, new { @class = "form-control", id = "mfSphR", type = "number" })
                        </td>
                        <td class="mfCylAxis">
                            @Html.TextBoxFor(model => model.Form.out_lens_prescrip_right_cyl, new { @class = "form-control", id = "mfCylR", type = "number" })
                        </td>
                        <td class="mfCylAxis">
                            @Html.TextBoxFor(model => model.Form.out_lens_prescrip_right_axis, new { @class = "form-control", id = "mfAxisR", type = "number" })
                        </td>
                        <td>
                            @Html.TextBoxFor(model => model.Form.out_lens_prescrip_right_add, new { @class = "form-control", id = "mfAddR", type = "number" })
                        </td>
                        <td class="mfPrismBase">
                            @Html.TextBoxFor(model => model.Form.out_lens_prescrip_right_prism, new { @class = "form-control", id = "mfPrismR", type = "number" })
                        </td>
                        <td class="mfPrismBase">
                            @Html.TextBoxFor(model => model.Form.out_lens_prescrip_right_base, new { @class = "form-control", id = "mfBaseR", type = "number" })
                        </td>
                        <td>
                            @Html.TextBoxFor(model => model.Form.out_lens_prescrip_right_va, new { @class = "form-control", id = "mfVaR", type = "number" })
                        </td>
                    </tr>
                    <tr class="hidden presCtrlText" id="mfCylAxisController">
                        <td colspan="2"></td>
                        <td colspan="2" class="hidden" id="mfOnlyCyl">No cyl without axis</td>
                        <td colspan="2" class="hidden" id="mfOnlyAxis">No axis without cyl</td>
                        <td colspan="4"></td>
                    </tr>
                    <tr class="hidden presCtrlText" id="mfPrismBaseController">
                        <td colspan="5"></td>
                        <td colspan="2" class="hidden" id="mfOnlyPrism">No prism without base</td>
                        <td colspan="2" class="hidden" id="mfOnlyBase">No base without prism</td>
                        <td colspan="1"></td>
                    </tr>
                    <tr>
                    <tr>
                        <th scope="row">Left</th>
                        <td>
                            @Html.TextBoxFor(model => model.Form.out_len_prescrip_left_sph, new { @class = "form-control", id = "mfSphL", type = "number" })
                        </td>
                        <td class="mfCylAxis">
                            @Html.TextBoxFor(model => model.Form.out_lens_prescrip_left_cyl, new { @class = "form-control", id = "mfCylL", type = "number" })
                        </td>
                        <td class="mfCylAxis">
                            @Html.TextBoxFor(model => model.Form.out_lens_prescrip_left_axis, new { @class = "form-control", id = "mfAxisL", type = "number" })
                        </td>
                        <td>
                            @Html.TextBoxFor(model => model.Form.out_lens_prescrip_left_add, new { @class = "form-control", id = "mfAddL", type = "number" })
                        </td>
                        <td class="mfPrismBase">
                            @Html.TextBoxFor(model => model.Form.out_lens_prescrip_left_prism, new { @class = "form-control", id = "mfPrismL", type = "number" })
                        </td>
                        <td class="mfPrismBase">
                            @Html.TextBoxFor(model => model.Form.out_lens_prescrip_left_base, new { @class = "form-control", id = "mfBaseL", type = "number" })
                        </td>
                        <td>
                            @Html.TextBoxFor(model => model.Form.out_lens_prescrip_left_va, new { @class = "form-control", id = "mfVaL", type = "number" })
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="row container-fluid formBlock" id="frameChoice">
    <h2>Frame Selection</h2>

    <div class="text-lg-center hidden reuseWarning" id="frameReused">
        <strong>Reusing a frame</strong>
    </div>
    <div class="form-check col-lg-12 cc-selector-2" id="frameSelector">

        <!--Icon Frame start-->
        <div class="col-lg-3">
            <h5>Icon Frame</h5>
            @Html.RadioButtonFor(model => model.Form.loupe_frame_type, "Icon", new
       {
           @class = "form-check-input custom-control-input",
           id = "iconFrame",


       })
            <label class="frameSelection iconFrameImg" for="iconFrame"></label>

            <div class="form-check col-lg-12 hidden" id="iconFrameSize">
                <h5>Size</h5>
                <label class="form-check-inline custom-control custom-radio @(ViewBag.Icon.Small ? "hidden" : "")">
                    @Html.RadioButtonFor(model => model.Form.loupe_frame_size, "iconSmall", new
               {
                   @class = "form-check-input custom-control-input",
                   id = "iconSizeS",

               })
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description">Small</span>
                </label>
                <label class="form-check-inline custom-control custom-radio @(ViewBag.Icon.Medium ? "hidden" : "")">
                    @Html.RadioButtonFor(model => model.Form.loupe_frame_size, "iconMedium", new
               {
                   @class = "form-check-input custom-control-input",
                   id = "iconSizeM",

               })
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description">Medium</span>
                </label>
                <label class="form-check-inline custom-control custom-radio @(ViewBag.Icon.Large ? "hidden" : "")">
                    @Html.RadioButtonFor(model => model.Form.loupe_frame_size, "iconLarge", new
               {
                   @class = "form-check-input custom-control-input",
                   id = "iconSizeL",

               })
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description">Large</span>
                </label>
            </div>

            <div class="form-check col-lg-12 hidden" id="iconFrameColor">
                <h5>Color</h5>
                <label class="form-check-inline custom-control custom-radio @(ViewBag.Icon.Black ? "hidden" : "")">
                    @Html.RadioButtonFor(model => model.Form.loupe_frame_colour, "iconBlack", new
               {
                   @class = "form-check-input custom-control-input",
                   id = "iconColorBlack",

               })
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description">Black</span>
                </label>
                <label class="form-check-inline custom-control custom-radio @(ViewBag.Icon.Red ? "hidden" : "")">
                    @Html.RadioButtonFor(model => model.Form.loupe_frame_colour, "iconRed", new
               {
                   @class = "form-check-input custom-control-input",
                   id = "iconColorRed",

               })
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description">Red</span>
                </label>
                <label class="form-check-inline custom-control custom-radio @(ViewBag.Icon.Raw ? "hidden" : "")">
                    @Html.RadioButtonFor(model => model.Form.loupe_frame_colour, "iconRaw", new
               {
                   @class = "form-check-input custom-control-input",
                   id = "iconColorRaw",

               })
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description">Raw</span>
                </label>
            </div>

            <div class="form-check col-lg-12 hidden" id="iconDiamond">
                <h5>Diamond accessories</h5>
                <label class="form-check-inline custom-control custom-radio @(ViewBag.Icon.DiamondLeft ? "hidden" : "")">
                    <!--Manglede datafelt-->
                    @Html.RadioButtonFor(model => model.Form.diamond_left, "DiamondLeft", new
               {
                   @class = "custom-control-input form-check-input diamondChoice",
                   id = "leftDiamond",

               })
                    @*<input id="leftDiamond" value="DiamondLeft" name="DiamondLeft" type="radio"
                        class="form-check-input custom-control-input diamondChoice" />*@
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description">Left</span>
                </label>
                <label class="form-check-inline custom-control custom-radio @(ViewBag.Icon.DiamondRight ? "hidden" : "")">
                    <!--Mangler datafelt-->
                    @Html.RadioButtonFor(model => model.Form.diamond_right, "DiamondRight", new
               {
                   @class = "custom-control-input form-check-input diamondChoice",
                   id = "rightDiamond",
               })
                    @*<input id="rightDiamond" value="right" name="DiamondRight" type="radio"
                        class="form-check-input custom-control-input diamondChoice" />*@
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description">Right</span>
                </label>
            </div>
        </div>
        <!--Icon Frame stop-->

        <div class="col-lg-3">
            <h5>Sport Frame</h5>
            @Html.RadioButtonFor(model => model.Form.loupe_frame_type, "Sport", new
       {
           @class = "form-check-input custom-control-input",
           id = "sportFrame",

       })
            <label class="frameSelection sportFrameImg" for="sportFrame"></label>

            <div class="form-check col-lg-12 hidden" id="sportFrameSize">
                <h5>Size</h5>
                <label class="form-check-inline custom-control custom-radio @(ViewBag.Sport.Small ? "hidden":"")">
                    @Html.RadioButtonFor(model => model.Form.loupe_frame_size, "sportSmall", new
               {
                   @class = "form-check-input custom-control-input",
                   id = "sportSizeS",

               })
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description">Small</span>
                </label>
                <label class="form-check-inline custom-control custom-radio @(ViewBag.Sport.Large ? "hidden":"")">
                    @Html.RadioButtonFor(model => model.Form.loupe_frame_size, "sportLarge", new
               {
                   @class = "form-check-input custom-control-input",
                   id = "sportSizeL",

               })
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description">Large</span>
                </label>
            </div>

            <div class="form-check col-lg-12 hidden" id="sportFrameColor">
                <h5>Color</h5>
                <label class="form-check-inline custom-control custom-radio @(ViewBag.Sport.Grey ? "hidden":"")">
                    @Html.RadioButtonFor(model => model.Form.loupe_frame_colour, "sportGrey", new
               {
                   @class = "form-check-input custom-control-input",
                   id = "sportColorGrey",

               })
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description">Grey</span>
                </label>
                <label class="form-check-inline custom-control custom-radio @(ViewBag.Sport.Red ? "hidden":"")">
                    @Html.RadioButtonFor(model => model.Form.loupe_frame_colour, "sportRed", new
               {
                   @class = "form-check-input custom-control-input",
                   id = "sportColorRed",

               })
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description">Red</span>
                </label>
                <label class="form-check-inline custom-control custom-radio @(ViewBag.Sport.Black ? "hidden":"")">
                    @Html.RadioButtonFor(model => model.Form.loupe_frame_colour, "sportBlack", new
               {
                   @class = "form-check-input custom-control-input",
                   id = "sportColorBlack",

               })
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description">Black</span>
                </label>
            </div>
        </div>



        <div class="col-lg-3">
            <h5>Cosmo Frame</h5>
            @Html.RadioButtonFor(model => model.Form.loupe_frame_type, "Cosmo", new
       {
           @class = "form-check-input custom-control-input",
           id = "cosmoFrame",

       })
            <label class="frameSelection cosmoFrameImg" for="cosmoFrame"></label>
            <div class="form-check col-lg-12 hidden" id="cosmoFrameSize">
                <h5>Size</h5>

                <label class="form-check-inline custom-control custom-radio @(ViewBag.Cosmo.Small ? "hidden":"")">
                    @Html.RadioButtonFor(model => model.Form.loupe_frame_size, "CosmoSmall", new { @class = "form-check-input custom-control-input", id = "cosmosSizeS" })
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description">Small</span>
                </label>
                <label class="form-check-inline custom-control custom-radio @(ViewBag.Cosmo.Medium ? "hidden":"")">
                    @Html.RadioButtonFor(model => model.Form.loupe_frame_size, "CosmoMedium", new { @class = "form-check-input custom-control-input", id = "cosmosSizeM" })
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description">Medium</span>
                </label>
                <label class="form-check-inline custom-control custom-radio @(ViewBag.Cosmo.Large ? "hidden":"")">
                    @Html.RadioButtonFor(model => model.Form.loupe_frame_size, "CosmoLarge", new { @class = "form-check-input custom-control-input", id = "cosmosSizeL" })
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description">Large</span>
                </label>
            </div>

            <div class="form-check col-lg-12 hidden" id="cosmoFrameColor">
                <h5>Color</h5>
                <label class="form-check-inline custom-control custom-radio @(ViewBag.Cosmo.Grey ? "hidden":"")">
                    @Html.RadioButtonFor(model => model.Form.loupe_frame_colour, "CosmoGrey", new { @class = "form-check-input custom-control-input", id = "cosmosColorGrey" })
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description">Grey</span>
                </label>
                <label class="form-check-inline custom-control custom-radio @(ViewBag.Cosmo.Red ? "hidden":"")">
                    @Html.RadioButtonFor(model => model.Form.loupe_frame_colour, "CosmoRed", new { @class = "form-check-input custom-control-input", id = "cosmosColorRed" })
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description">Red</span>
                </label>
            </div>
        </div>

        <div class="col-lg-3">
            <h5>Essential Frame</h5>
            @Html.RadioButtonFor(model => model.Form.loupe_frame_type, "Essential", new
       {
           @class = "form-check-input custom-control-input",
           id = "essentialFrame",

       })
            <label class="frameSelection essentialFrameImg" for="essentialFrame"></label>

            <div class="form-check col-lg-12 hidden" id="essentialFrameSize">
                <h5>Size</h5>
                <label class="form-check-inline custom-control custom-radio @(ViewBag.Icon.Small ? "hidden":"")">
                    @Html.RadioButtonFor(model => model.Form.loupe_frame_size, "essentialSmall", new
               {
                   @class = "form-check-input custom-control-input essentialSizeOpt",
                   id = "essentialSizeS",

               })
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description">Small</span>
                </label>
                <label class="form-check-inline custom-control custom-radio @(ViewBag.Icon.Large ? "hidden":"")">
                    @Html.RadioButtonFor(model => model.Form.loupe_frame_size, "essentialLarge", new
               {
                   @class = "form-check-input custom-control-input essentialSizeOpt",
                   id = "essentialSizeL",

               })
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description">Large</span>
                </label>
            </div>

            <div class="form-check col-lg-12 hidden" id="essentialFrameColor">
                <h5>Color</h5>
                <label class="form-check-inline custom-control custom-radio @(ViewBag.Icon.Silver ? "hidden":"")">
                    @Html.RadioButtonFor(model => model.Form.loupe_frame_colour, "essentialSilver", new
               {
                   @class = "form-check-input custom-control-input",
                   id = "essentialColorSilver",

               })
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description">Silver</span>
                </label>
            </div>
        </div>
    </div>
</div>

<div class="row container-fluid formBlock spacerBot" id="fitting">
    <h2>Frame Fitting</h2>
    <div class="col-md-3">
        <h5>Temple</h5>

        <div class="form-group inlineFix col-sm-6">
            <label for="templeL" class="control-label sr-only ">
                Temple - Left
            </label>
            <div class="input-group">
                @Html.TextBoxFor(model => model.Form.frame_temple_l, new
           {
               @class = "form-control",
               id = "templeL",
               placeholder = "Left",
               type = "number"
               //onkeydown = "unitAdder(this, 'mm')"
           })
                <div class="input-group-addon">mm</div>
            </div>
        </div>
        <div class="form-group inlineFix col-sm-6">
            <label for="templeR" class="control-label sr-only ">
                Temple - Right
            </label>
            <div class="input-group">
                @Html.TextBoxFor(model => model.Form.frame_temple_r, new {
               @class = "form-control",
               id = "templeR",
               placeholder = "Right",
               type = "number"
           })
                <div class="input-group-addon">mm</div>
            </div>
        </div>
    </div>

    <div class="col-md-2" id="headWidth">
        <h5>Head Width</h5>

        <label for="headWidth" class="control-label sr-only">
            Head Width
        </label>
        @Html.DropDownListFor(model => model.Form.frame_width, new List<SelectListItem>
                {
                    new SelectListItem {Value = "Narrow", Text = "Narrow"},
                    new SelectListItem {Value = "Semi-Narrow", Text = "Semi-Narrow"},
                    new SelectListItem {Value = "Regular", Text = "Regular"},
                    new SelectListItem {Value = "Semi-Broad", Text = "Semi-Broad"},
                    new SelectListItem {Value = "Broad", Text = "Broad"}
                }, "Select an option",
                    new { @class = "custom-select", id = "headWidthInput" })
    </div>



    <div class="col-md-4" id="nosepadSize">
        <h5>Nosepad Size</h5>

        <div class="form-check">
            <label class="form-check-inline custom-control custom-radio">
                @Html.RadioButtonFor(model => model.Form.nose_pads, "Extra Small", new { @class = "form-check-input custom-control-input", id = "nosepadSizeXS" })
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description">Extra Small</span>
            </label>
            <label class="form-check-inline custom-control custom-radio">
                @Html.RadioButtonFor(model => model.Form.nose_pads, "Small", new { @class = "form-check-input custom-control-input", id = "nosepadSizeS" })
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description">Small</span>
            </label>
            <label class="form-check-inline custom-control custom-radio">
                @Html.RadioButtonFor(model => model.Form.nose_pads, "Medium", new { @class = "form-check-input custom-control-input", id = "nosepadSizeM" })
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description">Medium</span>
            </label>
            <br />
            <label class="form-check-inline custom-control custom-radio">
                @Html.RadioButtonFor(model => model.Form.nose_pads, "Large", new { @class = "form-check-input custom-control-input", id = "nosepadSizeL" })
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description">Large</span>
            </label>
            <label class="form-check-inline custom-control custom-radio">
                @Html.RadioButtonFor(model => model.Form.nose_pads, "Extra Large", new { @class = "form-check-input custom-control-input", id = "nosepadSizeXL" })
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description">Extra Large</span>
            </label>
        </div>
    </div>
    <div class="form-group col-lg-2">
        <label class="control-label sr-only" for="prescriptionNotes">
            Notes for the Frame Fitting
        </label>
        <h5>Frame Fitting Notes</h5>
        @*Manglede datafelt*@
        @Html.TextAreaFor(model => model.Form.frameFitting_notes, new
   {
       @class = "form-control",
       id = "framefittingNotes",
       placeholder = "Notes for the frame fitting...",
       rows = "3",
       maxlength = "120"
   })
        @*<textarea class="form-control" rows="4" id="prescriptionNotes"
            placeholder="Notes for the prescription..."></textarea>*@
    </div>
</div>

<div class="row container-fluid formBlock spacerBot" id="magnificationChoice">
    <h2>Magnification & System Selection</h2>

    <div class="text-lg-center hidden reuseWarning" id="ocularReused">
        <strong>Reusing an Ocular</strong>
    </div>
    <div class="" id="magnificationPart">
        <div class="form-check col-lg-3" id="magnificationSelector">
            <h5>Magnification</h5>
            <label class="form-check-inline custom-control custom-radio">
                @Html.RadioButtonFor(model => model.Form.loupe_magnification_type, "HD", new { @class = "form-check-input custom-control-input", id = "HDMag" })
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description">HD</span>
            </label>
            <label class="form-check-inline custom-control custom-radio">
                @Html.RadioButtonFor(model => model.Form.loupe_magnification_type, "Essential", new { @class = "form-check-input custom-control-input", id = "essentialMag" })
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description">Essential</span>
            </label>
            <label class="form-check-inline custom-control custom-radio">
                @Html.RadioButtonFor(model => model.Form.loupe_magnification_type, "Kepler Kompact", new { @class = "form-check-input custom-control-input", id = "keplerMag" })
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description">Kepler</span>
            </label>
            
            <div class="row spacerTop" id="magnificationSub">
                <div class="form-check col-lg-12 hidden" id="HDMagSub">
                    <hr />
                    <label class="form-check-inline custom-control custom-radio">
                        @Html.RadioButtonFor(model => model.Form.loupe_magnification, "2.3", new { @class = "form-check-input custom-control-input", id = "HD23" })
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">2.3</span>
                    </label>
                    <label class="form-check-inline custom-control custom-radio">
                        @Html.RadioButtonFor(model => model.Form.loupe_magnification, "2.8", new { @class = "form-check-input custom-control-input", id = "HD28" })
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">2.8</span>
                    </label>
                    <label class="form-check-inline custom-control custom-radio">
                        @Html.RadioButtonFor(model => model.Form.loupe_magnification, "3.3", new { @class = "form-check-input custom-control-input", id = "HD33" })
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">3.3</span>
                    </label>
                    <label class="form-check-inline custom-control custom-radio">
                        @Html.RadioButtonFor(model => model.Form.loupe_magnification, "3.8", new { @class = "form-check-input custom-control-input", id = "HD38" })
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">3.8</span>
                    </label>
                </div>

                <div class="form-check col-lg-12 hidden spacerTop" id="essentialMagSub">
                    <hr />
                    <label class="form-check-inline custom-control custom-radio">
                        @Html.RadioButtonFor(model => model.Form.loupe_magnification, "2.5", new { @class = "form-check-input custom-control-input", id = "essential24" })
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">2.5</span>
                    </label>
                </div>

                <div class="form-check col-lg-12 hidden spacerTop" id="keplerMagSub">
                    <hr />
                    <label class="form-check-inline custom-control custom-radio">
                        @Html.RadioButtonFor(model => model.Form.loupe_magnification, "3.5", new { @class = "form-check-input custom-control-input", id = "kepler35" })
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">3.5</span>
                    </label>
                    <label class="form-check-inline custom-control custom-radio">
                        @Html.RadioButtonFor(model => model.Form.loupe_magnification, "4.6", new { @class = "form-check-input custom-control-input", id = "kepler46" })
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">4.6</span>
                    </label>
                    <label class="form-check-inline custom-control custom-radio" id="kepler56Contoller">
                        @Html.RadioButtonFor(model => model.Form.loupe_magnification, "5.7", new
                   {
                       @class = "form-check-input custom-control-input",
                       id = "kepler57",
                   })
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">5.7</span>
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group col-lg-3 hidden" id="photoUploader">
            @Html.LabelFor(model => model.UploadedFile, htmlAttributes: new { @class = "control-label col-md-2 sr-only" })
            <h5>Upload image</h5>
            <em style="color: red;" class="hidden" id="photoWarning">
                A photo is required, when Kepler is selected
            </em>
            <div class="col-md-10 spacerTop spacerBot">
                @Html.TextBoxFor(model => model.UploadedFile, new { type = "file", name = "image", htmlAttributes = new { @class = "form-control" } })
            </div>

            @if (Model?.Form.picture_upload_data_field != null)
            {
                <div class="col-lg-12">
                    <img class="img-fluid" alt="Uploaded picture" id="uploadedPhoto" src="@Model.Form.picture_upload_data_field" />
                    <em>Uploaded client photo</em>
                </div>
            }
        </div>
        <div class="form-check col-lg-3" id="lensOptions">
            <div class="form-check col-lg-12">
                <h5>Options</h5>
                <label class="form-check-inline custom-control custom-radio">
                    @Html.RadioButtonFor(model => model.Form.lens_option_prisma, "Yes", new { @class = "form-check-input custom-control-input lensOpt", id = "lensOptionPLS" })
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description">Prisma Lens System</span>
                </label>
            </div>
        </div>
        
        <div class="col-lg-6 pull-lg-right" id="demoTable">
            <label class="custom-control form-check-inline custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="demoTableCheck">
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description">Show/hide table for Demo-setup</span>
            </label>
            <div class="container-fluid hidden col-md-12" id="setupDemo">
                <div class="row">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-3">
                        <h5>Setup demo</h5>
                    </div>
                    <div class="col-md-6">
                        <h5>Control distances</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-1">
                        <strong>Right</strong>
                    </div>
                    <div class="col-sm-3 dioptiesField">
                        <label for="setupDemoR" class="control-label sr-only ">
                            Setup demo - Right
                        </label>
                        <div class="input-group">
                            @Html.TextBoxFor(model => model.Form.setup_demo_right, new { @class = "form-control", id = "setupDemoR", type = "number" })
                            <div class="input-group-addon">Diopties</div>
                        </div>
                    </div>
                    <div class="col-md-1">
                        <strong>From</strong>
                    </div>
                    <div class="col-sm-3">
                        <label for="cdRFrom" class="control-label sr-only ">
                            Control distances - From (Right)
                        </label>
                        <div class="input-group">
                            @Html.TextBoxFor(model => model.Form.control_distances_from_right, new { @class = "form-control", id = "cdRFrom", type = "number" })
                            <div class="input-group-addon">cm</div>
                        </div>
                    </div>
                    <div class="col-sm-1">
                        <strong>To</strong>
                    </div>
                    <div class="col-sm-3">
                        <label for="cdRTo" class="control-label sr-only ">
                            Control distances - To (Right)
                        </label>
                        <div class="input-group">
                            @Html.TextBoxFor(model => model.Form.control_distances_to_right, new { @class = "form-control", id = "cdRTo", type = "number" })
                            <div class="input-group-addon">cm</div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-1">
                        <strong>Left</strong>
                    </div>
                    <div class="col-sm-3 dioptiesField">
                        <label for="setupDemoL" class="control-label sr-only ">
                            Setup demo - Left
                        </label>
                        <div class="input-group">
                            @Html.TextBoxFor(model => model.Form.setup_demo_left, new { @class = "form-control", id = "setupDemoL", type = "number" })
                            <div class="input-group-addon">Diopties</div>
                        </div>
                    </div>
                    <div class="col-md-1">
                        <strong>From</strong>
                    </div>
                    <div class="col-sm-3">
                        <label for="cdLFrom" class="control-label sr-only ">
                            Control distances - From (Left)
                        </label>
                        <div class="input-group">
                            @Html.TextBoxFor(model => model.Form.control_distances_from_left, new { @class = "form-control", id = "cdLFrom", type = "number" })
                            <div class="input-group-addon">cm</div>
                        </div>
                    </div>
                    <div class="col-sm-1">
                        <strong>To</strong>
                    </div>
                    <div class="col-sm-3">
                        <label for="cdLTo" class="control-label sr-only ">
                            Control distances - From (Left)
                        </label>
                        <div class="input-group">
                            @Html.TextBoxFor(model => model.Form.control_distances_to_left, new { @class = "form-control", id = "cdRTo", type = "number" })
                            <div class="input-group-addon">cm</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="row container-fluid formBlock" id="light">
    <h2>Light Selections</h2>

    <div class="form-check custom-controls-stacked col-lg-2" id="lightSystem">
        <h5>Light system</h5>

        @Html.HiddenFor(model => model.Form.light_system, new { id = "lightSystemField" })

        <label class="form-check-inline custom-control custom-radio">
            @Html.RadioButtonFor(model => model.Form.loupe_light_system, "None", new { @class = "form-check-input custom-control-input lightSystemInputNone", id = "lightSystemNone" })
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">None</span>
        </label>
        <label class="form-check-inline custom-control custom-radio">
            @Html.RadioButtonFor(model => model.Form.loupe_light_system, "Focus 4500K", new { @class = "form-check-input custom-control-input lightSystemInput", id = "lightSystemF4500" })
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">Focus 4500</span>
        </label>
        <label class="form-check-inline custom-control custom-radio">
            @Html.RadioButtonFor(model => model.Form.loupe_light_system, "Focus 6000K", new { @class = "form-check-input custom-control-input lightSystemInput", id = "lightSystemF6000" })
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">Focus 6000</span>
        </label>
        <label class="form-check-inline custom-control custom-radio">
            @Html.RadioButtonFor(model => model.Form.loupe_light_system, "Nano", new { @class = "form-check-input custom-control-input lightSystemInput", id = "lightSystemNano" })
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">Nano Essential</span>
        </label>
    </div>

    <div class="form-check custom-controls-stacked col-lg-3 hidden" id="controlUnits">
        <h5>Control units</h5>
        <label class="form-check-inline custom-control custom-radio">
            @Html.RadioButtonFor(model => model.Form.loupe_light_control_unit, "Premium (Mkll)",
                        new { @class = "form-check-input custom-control-input ctrlUnits", id = "controlUnitsFX" })
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">Focus Xtend Control Unit</span>
        </label>
        <label class="form-check-inline custom-control custom-radio">
            @Html.RadioButtonFor(model => model.Form.loupe_light_control_unit, "Essential",
                        new { @class = "form-check-input custom-control-input ctrlUnits", id = "controlUnitsE" })
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">Essential Control Unit</span>
        </label>
    </div>

    <div class="form-check custom-controls-stacked col-lg-2 hidden" id="accessories">
        <h5>Light Accessories</h5>

        <label class="form-check-inline custom-control custom-radio">
            @Html.RadioButtonFor(model => model.Form.loupe_light_accesories_headband, "Headband",
                        new { @class = "form-check-input custom-control-input accessory", id = "accessoriesHeadband" })
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">Headband</span>
        </label>
        <label class="form-check-inline custom-control custom-radio">
            @Html.RadioButtonFor(model => model.Form.loupe_light_accesories_clip, "Clip",
                        new { @class = "form-check-input custom-control-input accessory", id = "accessoriesClip" })
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">Universal Clip</span>
        </label>

        <label class="form-check-inline custom-control custom-radio">
            @Html.RadioButtonFor(model => model.Form.loupe_light_accesories_curing, "Curing Filter",
                        new { @class = "form-check-input custom-control-input accessory", id = "accessoriesFilter" })
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">Curing Filter</span>
        </label>
        <label class="form-check-inline custom-control custom-radio">
            @Html.RadioButtonFor(model => model.Form.loupe_light_accessories_charger, "Power supply",
                        new { @class = "form-check-input custom-control-input accessory", id = "accessoriesCharger" })
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">Extra charger</span>
        </label>
    </div>

</div>

<div class="row container-fluid formBlock" id="extrasChoice">
    <h2>Spareparts/extras for loupes</h2>

    <div class="form-check custom-controls-stacked col-lg-2" id="suitcase">
        <h5>Suitcases</h5>
        <label class="form-check-inline custom-control custom-radio">
            @Html.RadioButtonFor(model => model.Form.suitcase, "Small", new { @class = "form-check-input custom-control-input", id = "suitcaseSSmall" })
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">Case, loupe only</span>
        </label>
        <label class="form-check-inline custom-control custom-radio">
            @Html.RadioButtonFor(model => model.Form.suitcase, "Large", new { @class = "form-check-input custom-control-input", id = "suitcaseSBig" })
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">Case, loupe + light</span>
        </label>
        <label class="form-check-inline custom-control custom-radio">
            @Html.RadioButtonFor(model => model.Form.suitcase, "Essential", new { @class = "form-check-input custom-control-input", id = "suitcaseEssential" })
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">Essential suitcase</span>
        </label>
    </div>

    <div class="form-check custom-controls-stacked col-lg-2" id="loupeAccessories">
        <h5>Loupe Accesories</h5>
        <label class="form-check-inline custom-control custom-radio">
            @Html.RadioButtonFor(model => model.Form.loupe_light_accesories_connect, "Connect",
                new { @class = "form-check-input custom-control-input loupeAccessory", id = "accessoriesConnect" })
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">Connect Frame Part</span>
        </label>
        <label class="form-check-inline custom-control custom-radio">
            @Html.RadioButtonFor(model => model.Form.loupe_accesories_sideshield, "yes",
           new { @class = "form-check-input custom-control-input loupeAccessory", id = "loupeAccSide" })
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">Sideshields</span>
        </label>
        <label class="form-check-inline custom-control custom-radio">
            @Html.RadioButtonFor(model => model.Form.loupe_acce_vshield_small, "on",
           new { @class = "form-check-input custom-control-input loupeAccessory", id = "loupeAccVisonS" })
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">Visonshields Small</span>
        </label>
        <label class="form-check-inline custom-control custom-radio">
            @Html.RadioButtonFor(model => model.Form.loupe_acce_vshield_large, "on",
           new { @class = "form-check-input custom-control-input loupeAccessory", id = "loupeAccVisonL" })
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">Visonshields Large</span>
        </label>
    </div>
    <div class="form-check col-md-2" id="nosepadColor">
        <h5>Extra Nosepad, Color</h5>
        <label class="form-check-inline custom-control custom-radio">
            @*Manglede datafelter*@
            @Html.RadioButtonFor(model => model.Form.nosepad_color, "Clear", new { @class = "form-check-input custom-control-input extraNosepad", id = "nosepadColorClear" })
            @*<input id="nosepadColorClear" value="Clear" name="Nosepad color" type="radio"
                class="form-check-input custom-control-input" />*@
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">Clear</span>
        </label>
        <label class="form-check-inline custom-control custom-radio">
            @*Manglede datafelter*@
            @Html.RadioButtonFor(model => model.Form.nosepad_color, "Black", new { @class = "form-check-input custom-control-input extraNosepad", id = "nosepadColorBlack" })
            @*<input id="nosepadColorBlack" value="Black" name="Nosepad color" type="radio"
                class="form-check-input custom-control-input" />*@
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">Black</span>
        </label>
    </div>
</div>


<div id="limitationModal" class="modal fade">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"
                        aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title">Limitation Graph</h4>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-2">
                            <img src="../../Content/Img/logo_ev.png" id="modalLogo" class="img-fluid"
                                 alt="Responsive image">
                        </div>
                        <div class="col-md-10">
                            <h4>
                                Graph showing minimum PD for frame sizes,
                                according to declination angle.
                            </h4>

                            <p>
                                Use this chart to work out if the PD, angle and frame size combination
                                you have chosen will work.
                                Shown in half PDs (for one eye from centre of nose) @@ 40 cm
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <img src="../../Content/Img/limitationTable.jpg" class="img-fluid" alt="Limitation Table">
                    </div>
                    <div class="row">
                        <div class="col-md-5">
                            <img src="../../Content/Img/limitationGraph.png" id="limitGraph" class="img-fluid"
                                 alt="Limitation Graph">
                        </div>
                        <div class="col-md-7" id="limitationTextBot">
                            <h4>Pay attention with steep angles & small near PDs!!</h4>

                            <p>
                                Steeper angles require more depth in the carrier lens to
                                accommodate the telescope. The steeper the angle, the lower the
                                telescope must be drilled, as illustrated by the diagram (left).
                                Small PDs bring the drill to an area of the loupe where there is not
                                sufficient lens to accommodate the loupe.
                                Choose a larger frame size or use Cosmo Deep if the PD is too small
                                for the desired frame + angle.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <a role="button" class="btn btn-primary" href="../../Content/Files/Limitation_Table.pdf"
                       download="Min PD, Frame size & Dec Angle (incl. Icon).pdf">
                        Download PDF
                    </a>
                    <a role="button" class="btn btn-primary" href="../../Content/Files/Limitation_Table.pdf" target="_blank">
                        Open large PDF
                    </a>
                    <button type="button" class="btn btn-primary" id="printLT">Print PDF</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

                </div>
            </div>
        </div>
    </div>
</div>


<script src="../../Scripts/bootstrap.min.js"></script>
<script src="../../Scripts/customScripts.js"></script>

<script src="../../Scripts/countries.js"></script>

<script>
    $(document).ready(function () {
        $('#homePage').parent().addClass("active");
        $('#formDBPage').parent().removeClass("active");
    });
</script>

<script language="javascript">
    populateCountries("country");
</script>
