﻿@using System
<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="ExamVision - The Form">
    <meta name="author" content="Lasse Strauss">

    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"
            integrity="sha384-THPy051/pYDQGanwU6poAc/hOdQxjnOEXzbT+OuUAFqNqFjL+4IGLBgCJC3ZOShY"
            crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="http://ev-dealernet.azurewebsites.net/scripts/jquery.min.js"><\/script>')</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.2.0/js/tether.min.js"
            integrity="sha384-Plbmg8JY28KFelvJVai01l8WyZzrYWG825m+cZ0eDDS1f7d/js6ikvy1+X+guPIB"
            crossorigin="anonymous"></script>

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="~/Scripts/ie10-viewport-bug-workaround.js"></script>

    <!--Bootstrap CDN-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/js/bootstrap.min.js" integrity="sha384-BLiI7JTZm+JWlgKa0M0kGRpJbF2J8q+qreVrKBC47e3K6BW78kGLrCkeRX6I9RoK" crossorigin="anonymous"></script>

    <!--Custom css-->
    <link href="~/Content/custom.css" rel="stylesheet">

    <!--jQuery-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

    <!--Datepicker-->
    <link href="../../Content/bootstrap-datepicker3.min.css" rel="stylesheet">
    <script src="../../Scripts/bootstrap-datepicker.min.js"></script>

    

    <title>@ViewBag.Title - Exam-Vision</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
@if (User.Identity.IsAuthenticated)
{
    <div id="custom-bootstrap-menu" class="navbar navbar-default " role="navigation">
        <nav class="navbar-static-top navbar-dark bg-inverse">
            <a class="navbar-brand" href="@Url.Action("Index", "Home")"> <img src="~/Content/Img/logo_ev white.png" alt="ExamVision Form"></a>
            <div class="navbar-collapse navbar-menubuilder">
                <ul class="nav navbar-nav navbar-left">
                    <li class="">
                        <a class="nav-item nav-link" id="homePage" href="@Url.Action("Index", "Home")"> The Form</a>
                    </li>
                    
                        <li class="">
                            <a class="nav-item nav-link" id="formDBPage" href="@Url.Action("UserPanel", "Admin")">Order view</a>
                        </li>
                    
                    @if (User.IsInRole("Admin"))
                    {
                        <li class="">
                            <a class="nav-item nav-link" id="formDBPage" href="@Url.Action("AdminPanel", "Admin")">Admin view</a>
                        </li>
                    }
                </ul>
            </div>
            @Html.Partial("_LoginPartial")
        </nav>
    </div>
}
    <div class="container-fluid body-content" >
        @RenderBody()

@if (User.Identity.IsAuthenticated) { 
        <footer id="footer" class="center-block">
            <hr/>
            <p>&copy; @DateTime.Now.Year - ExamVision DealerNet</p>
        </footer>
}
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    
</body>
</html>
