﻿@using ExamVision___Form.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}

<style>
    body {
        background-color: #eee !important;
    }

    #footer {
        position: absolute;
        width: 97%;
        bottom: 0;
    }
</style>

<div class="row">
    <div class="loginWrapper">
        <section id="loginForm">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <img src="~/Content/Img/logo_ev.png" alt="ExamVision Form" class="center-block">
                <h4 class="form-signin-heading">Please login</h4>
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @*@Html.LabelFor(m => m.UserName, new { @class = "col-md-2 control-label" })*@

                @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", placeholder = "Username", type = "text" })
                @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
                @*@Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })*@
                @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Password", type = "password" })
                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                <label class="checkbox pull-lg-right">
                    @Html.CheckBoxFor(m => m.RememberMe)
                    Remember me
                </label>
                <button type="submit" value="Log in" class="btn btn-lg btn-primary btn-block" id="loginButton">Login</button>
                    @*<p>
                            @Html.ActionLink("Register as a new user", "Register")
                        </p>*@
                    @* Enable this once you have account confirmation enabled for password reset functionality
                        <p>
                            @Html.ActionLink("Forgot your password?", "ForgotPassword")
                        </p>*@
            }
        </section>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}