.formBlock {
    border-bottom: 1px solid black !important;
    padding-top: 0.5%;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=number] {
    -moz-appearance: textfield;
}

.custom-select {
    -moz-appearance: button-arrow-down!important;
}

/*select {
    //Firefox 
    -moz-appearance: none;
    // modern browsers 
    appearance: none;

    border-radius: 0;
}*/

body {
    font-size: 14px;
}

    body h2 {
        font-size: 140% !important;
    }

    body h5 {
        font-size: 100% !important;
    }

    body legend {
        font-size: 90% !important;
    }

.form-control, .input-group-addon {
    font-size: 14px;
    padding: 5px 10px;
}

.table th, .table td {
    padding: .2rem .75rem .2rem .75rem !important;
}

.input-group-addon {
    font-size: 90% !important;
}

.custom-control-description {
    font-size: 90% !important;
}

#otherPD {
    padding: 2px !important;
    padding-left: 0!important;
}

.form-control {
    font-size: 90% !important;
}

.loginWrapper {
    margin-top: 100px;
    margin-bottom: 80px;
}

#loginForm {
    max-width: 380px;
    top: 35%;
    bottom: 55%;
    padding: 15px 35px 45px;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,0.1);
}

    #loginForm input[type="text"] {
        margin-bottom: -1px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    #loginForm .form-signin-heading {
        margin-bottom: 8px;
    }

    #loginForm .checkbox {
        margin-bottom: 8px;
        margin-top: 8px;
    }

    #loginForm img {
        height: 100px;
    }

    #loginForm .form-control {
        position: relative;
        font-size: 16px;
        height: auto;
        padding: 10px;
    }

#orderDetailPage b {
    color: #913333 !important;
}


/* Menu style*/
#custom-bootstrap-menu.navbar-default .navbar-brand {
    color: rgba(240, 240, 240, 1);
}

#custom-bootstrap-menu.navbar-default {
    font-size: 16px;
    background-color: rgba(51, 51, 51, 1);
    border-width: 0px;
    border-radius: 0px;
}

    #custom-bootstrap-menu.navbar-default .navbar-nav > li > a {
        color: rgba(240, 240, 240, 1);
        background-color: rgba(51, 51, 51, 1);
    }

        #custom-bootstrap-menu.navbar-default .navbar-nav > li > a:hover,
        #custom-bootstrap-menu.navbar-default .navbar-nav > li > a:focus {
            color: rgba(255, 255, 255, 1) !important;
            background-color: rgba(153, 51, 51, 1) !important;
        }

    #custom-bootstrap-menu.navbar-default .navbar-nav > .active > a,
    #custom-bootstrap-menu.navbar-default .navbar-nav > .active > a:hover,
    #custom-bootstrap-menu.navbar-default .navbar-nav > .active > a:focus {
        color: rgba(51, 51, 51, 1);
        background-color: rgba(255, 255, 255, 1);
    }

#custom-bootstrap-menu.navbar {
    padding: 0;
}

.navbar-brand img {
    padding: 5px 1% 0 15% !important;
    position: relative;
    height: 64px;
}

.nav-item {
    padding: 30px 2% 30px 2% !important;
    font-size: 18px;
}


.navbar-right {
    float: right !important;
    margin-right: 0;
    padding: 3px;
}

.navbar {
    border-radius: 0 !important;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.custom-controls-stacked {
    /* height: 50px!important; */
}


.inlineFix {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.lineFix {
    margin-bottom: 0 !important;
}

.form-group {
    margin-bottom: 5px !important;
}

.spacerBot {
    padding-bottom: 0.5%;
}

.spacerTop {
    padding-top: 0.5%;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none !important; 
  margin: 0; 
}



#reuseFrame, #reuseOcular {
    padding-left: 0;
}

.reuseWarning {
    padding: 0 1% 1% 1%;
    color: red;
    font-size: 125%;
}


#otherGlass, #monovisionDescField {
    margin-bottom: 0 !important;
}


#country {
    height: 35px;
    padding: 0.4rem .75rem !important;
}

.bgColor {
    background-color: #f3f3f3;
}

#personalRadioB {
    padding: 1% 1% 0 1%;
}

#magnDesc {
}

#personalSubPart {
    padding-top: 0.5%;
}

.custom-select {
    padding: .25rem 1.75rem .275rem .75rem;
}

#noPrescriptionInfo {
    padding: 0 1% 1% 1%;
    color: red;
}

.presCtrlText {
    text-align: center;
    color: red;
    font-weight: bold;
}

.presWarning {
    border: 0 !important;
    -webkit-box-shadow: inset 0px 0px 5px 4px #c22525;
    -moz-box-shadow: inset 0px 0px 5px 4px #c22525;
    box-shadow: inset 0px 0px 5px 4px #c22525;
}

#otherPD {
    border: 1px #ccc solid !important;
}

#pdTable .form-control[readonly] {
    background-color: #fff !important;
}

th {
    font-weight: normal !important;
}

.table td, .table th {
    padding: 5px;
}

.table .form-control {
    border: 1px solid rgba(0,0,0,0);
}

#demoTable .input-group-addon {
    padding: 0.375rem .5rem;
}
#demoTable .dioptiesField{
    padding-right: .25rem;
    padding-left: .5rem;
}


.ipdTotal {
    background-color: #dddddd;
    cursor:not-allowed
}

#pdTable .form-control:focus,
#prescriptionTableSession .form-control:focus {
    border-color: white;
}

#loupeAngle.form-control {
    width: 60% !important;
}

.btn-primary {
    background-color: #993333 !important;
    border-color: #993333 !important;
}

    .btn-primary:hover {
        background-color: #AE3030 !important;
        border-color: #913333 !important;
    }

.custom-control-input:checked ~ .custom-control-indicator {
    background-color: #913333 !important;
    border-color: #913333 !important;
}


.modal-body h4 {
    font-size: 115%;
}

#modalLogo {
    padding: 4%;
}

#limitGraph {
    margin: 4%;
}

#limitationTextBot {
    padding: 2%;
}

#pdTable td {
    padding: 5px !important;
}
#pdTable input{
    padding: 2px!important;
}

#ipdTH {
    min-width: ;
    /*max-width: 200px;*/
}

#thOtherPD {
    padding: 3px!important;
}

#otherPD {
    padding: 5px 2px 5px 2px;
    border: none !important;
}

#pdTable th:nth-child(n) {
    width: 20%;
}

#carrierLensTitle select {
    font-size: 18px;
    font-weight: bold;
}

#carrierLensTitle {
    margin-bottom: 15px;
}

#carrierLensSelectorRow {
    min-width:315px;
}

#carrierLensVersionPart {
    min-width:255px;
}
#monofocalFD {
    padding: 5px 2px 5px 2px;

}

#monofocalFDSession {
    padding-top: 5px;
    min-width:90px!important;
}
    #monofocalFDSession .input-group-addon {
        padding: 5px !important
    }

#coatingOpt {
    padding-left: 30px;
}

.prescTblCopier {
    padding: 0 !important;
    font-size: 12px !important;
    min-height: 15px;
    background-color: #fff;
    margin: 1px 0 5px;
}

    .prescTblCopier:hover {
        background-color: #f3f3f3;
    }

#shvTable {
    margin-bottom: 0;
}

.tooltip-inner {
    max-width: 280px!important;
    padding: 0!important;
    border: 1px solid black;
}



/* Frame selector images */
.cc-selector input {
    margin: 0;
    padding: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    /*appearance:none;*/
}

.cc-selector-2 input {
    position: absolute;
    z-index: 999;
}

.cosmoFrameImg {
    background-image: url(Img/Frames/cosmo_lg.jpg);
}


.sportFrameImg {
    background-image: url(Img/Frames/sport_lg.jpg);
}

.iconFrameImg {
    background-image: url(Img/Frames/icon_lg.jpg);
}

.essentialFrameImg {
    background-image: url(Img/Frames/essential_lg.jpg);
}


.cc-selector-2 input:active + .frameSelection, .cc-selector input:active + .frameSelection {
    opacity: .9;
}

.cc-selector-2 input:checked + .frameSelection, .cc-selector input:checked + .frameSelection {
    -webkit-filter: none;
    -moz-filter: none;
    filter: none;
}

.frameSelection {
    cursor: pointer;
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    width: 100%;
    height: 140px;
    -webkit-transition: all 100ms ease-in;
    -moz-transition: all 100ms ease-in;
    transition: all 100ms ease-in;
    -webkit-filter: brightness(1.1) grayscale(1) opacity(.3);
    -moz-filter: brightness(1.1) grayscale(1) opacity(.3);
    /*filter: brightness(1.1) grayscale(1) opacity(.3);*/
}

    .frameSelection:hover {
        -webkit-filter: brightness(1.2) grayscale(.5) opacity(.9);
        -moz-filter: brightness(1.2) grayscale(.5) opacity(.9);
        /*filter: brightness(1.2) grayscale(.5) opacity(.9);*/
    }


#fitting .input-group-addon{
    padding:5px!important;
}

#headWidth {
    width: 11% !important;
    min-width: 200px;
}

#nosepadColor {
    width: 11%;
    min-width: 200px;
}

#uploadedPhoto {
    padding: 2%;
}

#demoTable .input-group-addon{
    padding:5px!important
}

#setupDemo {
    margin-top: 10px;
}

#printButton {
    padding-top: 1.5%;
}

#demoTableDetails td p{
    margin-bottom:5px!important;
}
#demoTableDetails th p {
    margin-bottom: 5px !important;
}

.fullWidthFoced{
    width:100%!important;
}


@media print {
    .container {
        width: 100%;
    }
}

@media print {
    

    #carrierLensCol2{
        padding-right: 0!important;
        padding-left: 0!important;
        width: 20%!important;
    }

    #carrierLensCol3{
        padding-left: 0!important;
    }

    #PDInfoDetails {
        page-break-after: always;
    }

    /*#carrierLensDetails th {
        padding: 2px !important;
    }*/
    /*#dealerInfoField {
        height: 395px;
    }

    #personInfoField {
        height: 350px;
    }

    #magnifyingDetails {
        height: 325px;
    }

    #prescriptionDetailFields {
        height: 290px;
    }

    

    #frameSelectionDetails {
        height: 255px;
    }

    #frameFittingDetails {
        height: 265px;
    }

    #MagAndSysSelectDetails {
        height: 675px;
    }

    #lightSelectionDetails {
        height: 245px;
    }

    #sparepartDetails {
        height: 240px;
    }*/
   

    footer {
        page-break-after: always;
    }

    #storageController {
        display: none;
    }

    #theCompleteOrderList    {
        display:none;
    }
    
    #printButton {
        display: none;
    }

    #orderDetails{
        height:100%!important;
    }

    #listView{
        display:none;
    }
    
    #incompleteOrderList {
        visibility: hidden;
    }

    #completeOrderList {
        visibility: hidden;
    }

    #custom-bootstrap-menu{
        display:none;
    }
}
