﻿@model ExamVision___Form.ModelsView.AdminPanelViewModel

@{
    ViewBag.Title = "Admin Control Panel";
}
<div class="row">
    
    
</div>

<div class="row" id="storageController" style="-webkit-box-shadow: 1px 11px 22px -5px #888888; -ms-box-shadow: 1px 11px 22px -5px #888888; box-shadow: 1px 11px 22px -5px #888888; margin-bottom: 25px">
    <div class="col-lg-6">
        <h1 class="spacerTop pull-lg-left">Storage controller</h1>
    </div>
    <div class="col-lg-6 text-md-right" style="padding: 1%">
        <h2>@Html.ActionLink("Register a new user", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "" })</h2>
    </div>

    @using (Html.BeginForm("UpdateInventory", "Admin", FormMethod.Post, new {enctype = "multipart/form-data"}))
    {
        @Html.AntiForgeryToken()
        <div class="container-fluid spacerTop">


            @Html.HiddenFor(x => x.Cosmo.Id)
            @Html.HiddenFor(x => x.Sport.Id)
            @Html.HiddenFor(x => x.Icon.Id)
            @Html.HiddenFor(x => x.Essential.Id)

            @Html.HiddenFor(x => x.Cosmo.Name)
            @Html.HiddenFor(x => x.Sport.Name)
            @Html.HiddenFor(x => x.Icon.Name)
            @Html.HiddenFor(x => x.Essential.Name)

            <div class="col-lg-3">
                <h2 class="row">Cosmo</h2>
                <div class="row">
                    <h5>Size</h5>
                    <label class="custom-control custom-checkbox">
                        @Html.CheckBoxFor(x => x.Cosmo.Small, new {@class = "custom-control-input"})
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">Small</span>
                    </label>
                    <label class="custom-control custom-checkbox">
                        @Html.CheckBoxFor(x => x.Cosmo.Medium, new {@class = "custom-control-input"})
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">Medium</span>
                    </label>
                    <label class="custom-control custom-checkbox">
                        @Html.CheckBoxFor(x => x.Cosmo.Large, new {@class = "custom-control-input"})
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">Large</span>
                    </label>
                </div>
                <div class="row">
                    <h5>Color</h5>
                    <label class="custom-control custom-checkbox">
                        @Html.CheckBoxFor(x => x.Cosmo.Grey, new {@class = "custom-control-input"})
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">Grey</span>
                    </label>
                    <label class="custom-control custom-checkbox">
                        @Html.CheckBoxFor(x => x.Cosmo.Red, new {@class = "custom-control-input"})
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">Red</span>
                    </label>
                </div>
            </div>

            <div class="col-lg-3">
                <h2 class="row">Sport</h2>
                <div class="row">
                    <h5>Size</h5>
                    <label class="custom-control custom-checkbox">
                        @Html.CheckBoxFor(x => x.Sport.Small, new {@class = "custom-control-input"})
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">Small</span>
                    </label>
                    <label class="custom-control custom-checkbox">
                        @Html.CheckBoxFor(x => x.Sport.Large, new {@class = "custom-control-input"})
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">Large</span>
                    </label>
                </div>
                <div class="row">
                    <h5>Color</h5>
                    <label class="custom-control custom-checkbox">
                        @Html.CheckBoxFor(x => x.Sport.Grey, new {@class = "custom-control-input"})
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">Grey</span>
                    </label>
                    <label class="custom-control custom-checkbox">
                        @Html.CheckBoxFor(x => x.Sport.Red, new {@class = "custom-control-input"})
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">Red</span>
                    </label>
                    <label class="custom-control custom-checkbox">
                        @Html.CheckBoxFor(x => x.Sport.Black, new {@class = "custom-control-input"})
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">Black</span>
                    </label>
                </div>
            </div>

            <div class="col-lg-3">
                <h2 class="row">Icon</h2>
                <div class="row">
                    <h5>Size</h5>
                    <label class="custom-control custom-checkbox">
                        @Html.CheckBoxFor(x => x.Icon.Small, new {@class = "custom-control-input"})
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">Small</span>
                    </label>
                    <label class="custom-control custom-checkbox">
                        @Html.CheckBoxFor(x => x.Icon.Large, new {@class = "custom-control-input"})
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">Large</span>
                    </label>
                    <label class="custom-control custom-checkbox">
                        @Html.CheckBoxFor(x => x.Icon.Large, new {@class = "custom-control-input"})
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">Large</span>
                    </label>
                </div>
                <div class="row">
                    <h5>Color</h5>
                    <label class="custom-control custom-checkbox">
                        @Html.CheckBoxFor(x => x.Icon.Black, new {@class = "custom-control-input"})
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">Black</span>
                    </label>
                    <label class="custom-control custom-checkbox">
                        @Html.CheckBoxFor(x => x.Icon.Red, new {@class = "custom-control-input"})
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">Red</span>
                    </label>
                    <label class="custom-control custom-checkbox">
                        @Html.CheckBoxFor(x => x.Icon.Raw, new {@class = "custom-control-input"})
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">Raw</span>
                    </label>
                </div>
                <div class="row">
                    <h5>Diamond</h5>
                    <label class="custom-control custom-checkbox">
                        @Html.CheckBoxFor(x => x.Icon.DiamondLeft, new {@class = "custom-control-input"})
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">Left Diamond</span>
                    </label>
                    <label class="custom-control custom-checkbox">
                        @Html.CheckBoxFor(x => x.Icon.DiamondRight, new {@class = "custom-control-input"})
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">Right Diamond</span>
                    </label>
                </div>
            </div>

            <div class="col-lg-3">
                <h2 class="row">Essential</h2>
                <div class="row">
                    <h5>Size</h5>
                    <label class="custom-control custom-checkbox">
                        @Html.CheckBoxFor(x => x.Essential.Small, new {@class = "custom-control-input"})
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">Small</span>
                    </label>
                    <label class="custom-control custom-checkbox">
                        @Html.CheckBoxFor(x => x.Essential.Large, new {@class = "custom-control-input"})
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">Large</span>
                    </label>
                </div>
                <div class="row">
                    <h5>Color</h5>
                    <label class="custom-control custom-checkbox">
                        @Html.CheckBoxFor(x => x.Essential.Silver, new {@class = "custom-control-input"})
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">Silver</span>
                    </label>
                </div>
            </div>
        </div>
        <div class="row col-lg-12 spacerBot text-lg-center" style="padding: 0.5%">
            <button type="submit" class="btn btn-success center-block ">Save inventory options</button>
        </div>
       
    }
</div>

<div class="row" >
    <div class="col-lg-6" id="theCompleteOrderList">
        <h1>Completed orders</h1>
        <table class="table">
            <tr>
                <th><b>Dealer name</b></th>
                <th><b>Client name</b></th>
                <th><b>Creation date</b></th>
                <th><b>View Order</b></th>
            </tr>

            @foreach (var item in Model.Completed)
            {
                <tr>
                    <td><span>@item.dealer_name</span></td>
                    <td><span>@item.client_name</span></td>
                    <td><span>@item.ImportDate</span></td>
                    <td>
                        <button type="button" class="btn btn-success"
                                onclick="GetDetails(@item.ID)">
                            View Order
                        </button>
                    </td>
                </tr>
            }
        </table>
    </div>
    <div class="col-lg-6" id="orderDetails">

    </div>
</div>


<script>
    function GetDetails(id) {
        var action = '/Form/Details';
        $.ajax({
            type: 'GET',
            url: action,
            contentType: "application/json; charset=utf-8",
            datatype: "json",
            data: { Id: id },
            success: function (result) {
                $("#orderDetails").html(result);
            },
            error: function () {
                // Nothing bitches! HAHA NEVER!!!
            }
        });
    }
</script>

<link rel="stylesheet" type="text/css" href="../../Content/PrintStyle.css">
<link rel="stylesheet" type="text/css" href="../../Content/ChromePrintFix.css">