﻿@model ExamVision___Form.ModelsView.UserPanelViewModel

@{
    ViewBag.Title = "User Control Panel";
}
<div class="row">
    <div class="col-lg-6" id="listView">
        <div class="row"  id="incompleteOrderList" style="border: 1px solid black">
            <h2>Incomplete orders</h2>
            <table class="table">
                <tr>
                    <th>Client name</th>
                    <th>Creation date</th>
                </tr>
                @foreach (var item in Model.Incomplete)
                {
                    <tr>
                        <td><span>@item.client_name</span></td>
                        <td><span>@item.ImportDate</span></td>
                        <td>
                            <button type="button" class="btn btn-warning"
                                    onclick="location.href = '@Url.Action("Edit", "Form", new {id = item.ID})' ">
                                Edit order
                            </button>
                        </td>
                        <td>
                            <button type="button" class="btn btn-danger"
                                    onclick="location.href = '@Url.Action("Delete", "Form", new {id = item.ID})' ">
                                Delete order
                            </button>
                        </td>
                    </tr>
                }
            </table>
        </div>
        <div class="row" id="completeOrderList"  style="border: 1px solid black">
            <h2>Completed orders</h2>
            <table class="table">
                <tr>
                    <th>Client name</th>
                    <th>Creation date</th>
                    <th>View Order</th>
                </tr>

                @foreach (var item in Model.Completed)
            {
                    <tr>
                        <td><span>@item.client_name</span></td>
                        <td><span>@item.ImportDate</span></td>
                        <td>
                            <button type="button" class="btn btn-success"
                                    onclick="GetDetails(@item.ID)">
                                View Order
                            </button>
                        </td>

                    </tr>
                }
            </table>
        </div>

    </div>
    <div class="col-lg-6" id="orderDetails">

    </div>
</div>

<script>
    function GetDetails(id) {
        var action = '/Form/Details';
        $.ajax({
            type: 'GET',
            url: action,
            contentType: "application/json; charset=utf-8",
            datatype: "json",
            data: { Id: id },
            success: function (result) {
                $("#orderDetails").html(result);
            },
            error: function () {
                // Nothing bitches! HAHA NEVER!!!
            }
        });
    }
</script>

<link rel="stylesheet" type="text/css" href="../../Content/PrintStyle.css">
<link rel="stylesheet" type="text/css" href="../../Content/ChromePrintFix.css">