﻿@model ExamVision___Form.Models.IndexViewModel
@{
    ViewBag.Title = "Manage Account";
}
<div class="row">
    <div class="col-lg-3">
        <h2>@ViewBag.Title.</h2>

        <p class="text-success">@ViewBag.StatusMessage</p>

        <h4>Change your account settings</h4>
        <hr />
    </div>
</div>
    <div class="row">
        <div class="col-lg-4">
            <h5>Password:</h5>
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Change your password", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Create", "SetPassword")
            }
            ]
        </div>

   
</div>
