﻿@model ExamVision___Form.Models.FormModel

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
    @Model.client_name
    </div>
</body>
</html>
