﻿@model ExamVision___Form.ModelsView.FormViewModel

@{
    ViewBag.Title = "ExamVision - The Form";
}

<div class="" id="formSite">
    @using (Html.BeginForm("Index", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @*@Html.HiddenFor(model => model.Form)*@

        <div class="text-danger">@Html.ValidationSummary()</div>
        @Html.AntiForgeryToken()

        @Html.Partial("_FormIndex", Model)
       
        
        <div id="submitButton" class="row container-fluid spacerBot spacerTop">
            <div class="col-lg-2">
                <input class="btn btn-success" type="Submit" value="Save"  />
            </div>
        </div>

    }
</div>
